@import "marketo";

@import "buttons";

@import "fields";

form {
  margin: 0 0 1.5em;
}

.ws-form {
	@include clearfix;

	.form-title {
		margin: 0 0 1em;
		font-weight: lighter;
	}

	.left {
		@include susy-media($screen-md) {
			@include span(6);
		}
	}
	.right {
		@include susy-media($screen-md) {
			@include span(6 last);
		}
	}

	input[type="text"],
	input[type="email"],
	input[type="tel"],
	input[type="name"],
	input[type="url"],
	input[type="search"],
	input[type="date"],
	textarea {
		display: block;
		width: 100%;
		background-color: $gray_light;
		border: 0;
		padding: 0.8em;
		color: $gray_base;

		&:focus {
			background-color: $gray_lighter;
			outline: none;
		}

		&::-webkit-input-placeholder { 
			color: $gray_base;
		}
		&::-moz-placeholder { 
			color: $gray_base;
		}
		&:-moz-placeholder { 
			color: $gray_base;
		}
		&:-ms-input-placeholder { 
			color: $gray_base;
		}
	}

	.field {
		margin-bottom: 0.8em;
	}

	.field-complex {
		@include clearfix;

		.field-left {
			margin-bottom: 0.8em;
			@include susy-media($screen-sm) {
				@include span(3 of 6);	
				margin-bottom: 0;
			}
		}
		.field-right {
			@include susy-media($screen-sm) {
				@include span(3 of 6 last);	
			}
		}
	}

}