/**
 * Override styling on Marketo forms
 *
 * Borrowed from https://github.com/cfrydlewicz/marketo-forms-style/blob/master/marketoforms2.scss
 * with some tweaks.
 */

.embedded-marketo-form {
	background: $gray_base;
	padding: 0.5em 2em 1em;
}

.embedded-marketo-form .mktoForm {
	width: 100% !important;
	font-family: $font_main !important;
	font-size: em(16);
	@include clearfix;

	> div {
		@include susy-media($screen-sm) {
			width: 48%;
			display: inline-block;
			margin-right: 2%;
		}
	}

	// &:after {
	// 	content:    '.';
	// 	clear:      both;
	// 	visibility: hidden;
	// 	color:      transparent;
	// }
	.mktoRequiredField .mktoAsterix,
	.mktoAsterix,
	.mktoClear,
	.mktoGutter,
	.mktoOffset,
	.mktoFormRow.hidden {
		display: none;
	}
	.mktoFormCol {
		width: 100%;
	}
	.mktoFieldWrap {
		width: 100%;
	}
	.mktoFormCol {
		margin: 0px !important;
	}
	.mktoFormRow,
	.mktoButtonRow {
		margin: 5px 0px;
		@include clearfix;
	}
	input[type="url"],
	input[type="text"],
	input[type="date"],
	input[type="tel"],
	input[type="email"],
	input[type="number"],
	textarea.mktoField,
	select.mktoField {
		height:      auto;
		line-height: normal;
		font-size:   inherit;
		box-shadow: 0 0;
		display: block;
	    width: 100%;
	    background-color: #b3b7bf;
	    border: 0;
	    padding: .8em;
	    color: #323c53;
    }
	.mktoFormRow {
		margin-bottom: 0.8em;
		margin-right: 2%;

		.mktoRequiredField label.mktoLabel {
			font-weight: normal;
		}
		label,
		input,
		textarea,
		select {
			box-sizing:  border-box;
			font-size:   18px;
			line-height: 1.5;
			color:       $color_text_main !important;
			font-weight: normal;
			width:       100% !important;
			margin:      0px 0px 5px 0px;
		}
		label {
			color: #fff !important;
			font-size: 18px;
		}
		input,
		textarea,
		select {
			min-height: 30px;
		}
		input[type=checkbox] {
			width:   30px !important;
			padding: 0px;
			margin:  0px;
			border:  none;
		}
		select {
		}
		textarea {
			height: auto;
		}
		&.checkbox {
			label {
				width:          83% !important;
				margin:         0px 0px 0px 36px;
				text-transform: none;
			}
			input {
				margin-top: -34px;
			}
		}

		// media queries for mktoFormRow
		@include susy-media($screen-sm) {
		}
	}
	.mktoButtonRow {
		.mktoButtonWrap {
			margin: 0px !important;
			button.mktoButton {
				@extend .btn;
				@extend .btn-primary;
				font-family: $font_main !important;
			}
		}
	}
}

// Hard Overrides for Zipcode styles
div.mktoFormRow label[for=companyZipcode],
div.mktoFormRow * #companyZipcode {
	display: block !important;
}

// @media only screen and (min-width: 768px) {

// 	.embedded-marketo-form .mktoForm {
// 		.mktoFormRow {
// 			clear:        none;
// 			margin-right: 10px;
// 			column-count: 2;
// 		}
// 	}
// }

// @media only screen and (min-width: 980px) {

// 	.embedded-marketo-form .mktoForm {
// 		.mktoFormRow {
// 			clear:        both;
// 			width:        100%;
// 			margin-right: 0px;
// 			label {
// 				display:      none;
// 				padding-left: 0px;
// 			}
// 			&.select-dropdown,
// 			&.checkbox {
// 				label {
// 					display:        block;
// 					text-transform: none;
// 				}
// 			}
// 		}
// 	}
// }

// @media only screen and (min-width: 1060px) {

// 	.embedded-marketo-form .mktoForm {
// 		.mktoFormRow {
// 			clear:        none;
// 			margin-right: 10px;
// 			&.select-dropdown:nth-of-type(even) {
// 				/* Intended as 'odd', but apparently there's a hidden one somewhere? So Weird. */
// 				clear: left;
// 			}
// 		}
// 	}
// }


