
/* blog.scss
 * -------------------------------------------------- */

.blog, .single {

	.section-header {
		margin-bottom: 0;

	}

	.has-blog-image {
		@extend %overlay-text;
	}

	.has-post-thumbnail .section-header {
		background-size: cover !important;
	}

	.blog-wrap {
		@include container();
		padding: 0;
		overflow: hidden;

		@include susy-media($screen-sm) {
			display: flex;
			padding: 0;
		}

		> section {
			@include span(full);
			margin-top: 0;
			padding-left: 5vw;

			@include susy-media($screen-sm) {
				@include span(8 wide);
				padding-right: 0;
				margin-right: 0;
			}
		}

	}

	.post {
		position: relative;
		margin-bottom: 3em;
	}

	.entry-header {
		margin-left: -5vw;
		padding: 0 0 0 5vw;

		.post-categories {
			list-style: none;
			margin: 0;
			padding: 0;
			margin-top: 15vh;

			@include susy-media($screen-sm) {
				margin-top: 35vh;
			}

			li {
				display: inline-block;
				margin-right: 10px;
			}

			a {
				color: $blue_light;
				text-transform: uppercase;
				font-size: em(12);

				&:hover {
					color: $color_link;
				}
			}
		}

		> a:first-child {
			display: block;
			margin-top: 15vh;

			@include susy-media($screen-sm) {
				margin-top: 35vh;
			}
		}
	}

	.entry-title {
		color: #fff;
		margin: 0;
		margin-bottom: 5vh;
		font-size: em(30);
		font-weight: 200;

		&:hover {
			color: $color_link;
		}

		@include susy-media($screen-sm) {
			font-size: em(45);
		}

		@include susy-media($screen-md) {
			font-size: em(60);
		}
	}

	.entry-body {
		// margin-right: gutter();

		@include susy-media($screen-sm) {
			margin-right: 0;
		}
	}

	.entry-author {
		margin: 2em 0;
	}

	.entry-content {
		margin-top: 1em;
		max-width: 670px;
		margin-right: gutter();

		*:first-child {
			margin-top: 0 !important;
		}
	}

}

.blog-pager {
	@include span(full);
	margin-bottom: 2em;

	@include susy-media($screen-sm) {
		display: flex;
	}
}

.blog-pager-prev, .blog-pager-next {
	@include span(full);
	border-top: 1px solid $color_border;
	padding-top: 1em;
	padding-bottom: 2em;

	span {
		display: block;
		color: $color_link_tag;
		text-transform: uppercase;
		font-size: em(12);
		margin-bottom: 0;
	}

	@include susy-media($screen-sm) {
		width: 50%;
	}
}

.blog-pager-prev {

	@include susy-media($screen-sm) {
		border-right: 1px solid $color_border;
		border-bottom: 1px solid $color_border;
	}
}

.blog-pager-next {
	border-bottom: 1px solid $color_border;

	@include susy-media($screen-sm) {
		padding-left: 1em;
	}
}

.blog-single-cta {
	@include container();
	background-size: cover;
	text-align: center;
	padding-top: 6vh;
	padding-bottom: 10vh;
	color: #fff;

	.h2 {
		font-weight: 700;
		font-size: 1.2em;
		text-shadow: 0 0px 3px #666;
		@media screen and (min-width: $screen-sm) {
			font-size: 1.6em;
		}
	}

	input[type="submit"],
	select {
		display: block;
		margin: 0.5em auto;
		width: 50%;
		@media screen and (min-width: 360px) {
			margin: 0;
			width: auto;
			display: inline;
		}
	}

	select {
		padding: 5px 3em 9px 0.8em;
	}
}

.sidebar {
	@include span(full);
	background: $gray_lighter;
	overflow: hidden;

	@include susy-media($screen_sm) {
		@include span(4 last);
	}

	.entry-header {
		margin-left: 0;
		padding-left: 5vw;

		@include susy-media($screen-sm) {
			padding-left: 2vw;
		}

		.post-categories {
			margin-top: 15vh;

			@include susy-media($screen-sm) {
				margin-top: 15vh;
			}
		}
	}

	.post-categories {
		margin-top: 15vh;
	}

	.entry-title {
		font-size: em(30);
	}

	.entry-content {
		margin-left: 5vw;
		margin-right: 3vw;
		@include susy-media($screen-sm) {
			margin-left: 2vw;
		}
	}
}

// Blog Post Meta

.entry-author {
	max-width: 180px;
	margin-bottom: 1em;

	.avatar {
		border-radius: 50%;
		display: inline-block;
		vertical-align: middle;
		height: auto;
		width: 41%;
		margin-right: 5%;
	}

	span {
		display: inline-block;
		vertical-align: middle;
		font-size: 0.875em;
		font-weight: 200;
		width: 50%;
	}
}

.blog-social-links {
	a {
		font-size: 0.875em;
	}
}

.blog-tags {
	span, a {
		font-size: 0.875em;
	}

	a {
		color: $color_link_tag;

		&:hover {
			color: $color_link_tag_hover;
		}
	}
}

// Facebook Comments

.fb-comments {
	margin-bottom: 2em;
}
