.blog-single-wrap {
	@include container();
	padding: 0;
	overflow: hidden;

	@include susy-media($screen-sm) {
		display: flex;
		padding-left: 5vw;
	}
}

.blog-single-meta {
	@include span(full);
	padding-top: 2em;
	padding-left: 5vw;

	@include susy-media($screen-sm) {
		@include span(2);
		padding-left: 0;
	}

	.entry-author {
		margin: 0;
	}
}

.blog-single-content {
	@include span(full);
	padding-top: 2em;
	padding-left: 2vw;
	padding-right: 2vw;

	@include susy-media($screen-sm) {
		@include span(6);
		padding-left: 0;
	}

	.entry-content {
		margin-top: 0;
	}
}



.single .sidebar {
}