.travelogue {

	.blog-single-wrap {
		@include susy-media($screen-sm) {
			padding-right: 5vw;
		}
	}

	.blog-single-content {

		@include susy-media($screen-sm) {
			@include span(10 last);

		}
	}

	.entry-content {

		> * {
			max-width: span(5 of 10);
		}

		blockquote {
			float: right;
			margin: 100px 0;
			max-width: span(5 of 10);
			padding: 0;
		}

		figure {
			max-width: 100%;
			width: 100% !important;
			@include clearfix;
			position: relative;

			img {
				@include span(7 of 10 last);
				padding: 0;
			}
		}

		figcaption {
			@include span(3 of 10);
			font-size: em(10);
			position: absolute;
			left: 0;
			bottom: 0;
		}
	}
}