.blog-single-wrap {
	@include container();
	padding: 0;
	overflow: hidden;
	display: flex;
	flex-direction: column;

	@include susy-media($screen-sm) {
		padding-left: 5vw;
		flex-direction: row;
	}

}

.blog-single-meta {
	@include span(full);
	padding-top: 2em;
	padding-left: 5vw;
	order: 1;

	@include susy-media($screen-sm) {
		@include span(2);
		padding-left: 0;
		order: initial;
	}

	.entry-author {
		margin: 0;
		margin-bottom: 1em;
	}
}

.blog-single-content {
	@include span(full);
	padding-top: 2em;
	padding-left: 2vw;
	padding-right: 2vw;

	@include susy-media($screen-sm) {
		@include span(6);
		padding-left: 0;
	}

	.entry-content {
		margin-top: 0;
	}
}



.single .sidebar {
}