.travelogue {

	// .blog-single-wrap {
	// 	@include susy-media($screen-sm) {
	// 		padding-right: 5vw;
	// 	}
	// }

	// .blog-single-content {

	// 	@include susy-media($screen-sm) {
	// 		@include span(10 last);

	// 	}
	// }

	.entry-content {

		// > * {

		// 	@include susy-media($screen-sm) {
		// 		max-width: span(5 of 10);
		// 		float: left;
		// 		clear: left;
		// 	}
		// }

		blockquote {
			color: $blue_dark;
			@include susy-media($screen-sm) {
				float: right;
				margin: 0 0 1.5em 1.5em;
				max-width: span(5 of 10);
				padding: 0;
			}
		}

		figure {
			width: 100% !important;
			@include clearfix;
			position: relative;

			img {
				padding: 0;
				margin: 0;
				max-width: 100%;
			}

			&.alignleft {
				img {
					@include susy-media($screen-sm) {
						@include span(7 of 10);
					}
				}
				figcaption {
					@include susy-media($screen-sm) {
						position: absolute;
						bottom: 0;
						right: 0;
						text-align: right;
						@include span(3 of 10 last);
					}
				}
			}

			&.aligncenter {
				img {
					margin: 0 auto;
				}
				figcaption {
					text-align: center;
				}
			}

			&.alignright {
				img {
					@include susy-media($screen-sm) {
						@include span(7 of 10 last);
					}
				}
				figcaption {
					@include susy-media($screen-sm) {
						position: absolute;
						bottom: 0;
						left: 0;
						@include span(3 of 10);
					}
				}

			}
		}

		figcaption {
			font-size: em(10);
			text-align: left;
		}
	}

	.related-postcard {

		@include susy-media($screen-sm) {
			margin-top: -200px;
			max-width: span(5 of 10);
			float: right;
			padding: 0;
			clear: none;
		}
	}
}