.blog-single-wrap {
	@include container();
	padding: 0;
	overflow: hidden;

	@include susy-media($screen-sm) {
		padding-left: 5vw;
	}

}

.blog-single-content {
	@include span(full);
	padding-top: 2em;
	padding-left: 5vw;
	padding-right: 5vw;

	@include susy-media($screen-sm) {
		@include span(8 last);
		@include gutter(8.496732%);
		padding-left: 0;
		padding-right: 0;
	}
	@include susy-media($screen-lg) {
		@include span(6 last);
		@include gutter(33%);
	}

	.entry-content {
		margin-top: 0;
	}
}

.blog-single-meta {
	@include span(full);
	padding-top: 2em;
	padding-left: 5vw;

	@include susy-media($screen-sm) {
		@include span( 3 );
		padding-left: 0;
	}
	@include susy-media($screen-lg) {
		@include span( 2 );
	}

	.entry-author {
		margin: 0;
		margin-bottom: 1em;
	}
}



.single .sidebar {
}