.collection {

	.programs {
		padding: 0;

		.section-title {
			padding-left: 5vw;
		}

		.programs-list {

			@include susy-media($screen-sm) {
				@include bleed-x(5vw 5vw);
			}
		}

		.program-all-link {
			display: block;
			text-align: center;
		}
	}

}

.info-cta {
	@include container();
	padding-top: 5vh;
	padding-bottom: 7vh;

	.additional-info, .email-updates {
		@include span(full);

		@include susy-media($screen-sm) {
			@include span(6);
		}
	}

	.email-updates {
		@include susy-media($screen-sm) {
			@include last;
		}
	}
}