.password-protected-page {
	margin-top: 250px;
}

.faculty-member {
	@include clearfix;
	margin-bottom: gutter();

	img {
		@include span(2 of 12);
		display: block;
	}
	.faculty-member-content {
		@include span(10 of 12 last);
	}
	h5 {
		margin: 0;
	}
	.description {
		margin-top: gutter();
	}
}

.tour-info-session {
	@include span(full);

	@include susy-media($screen-sm) {
		@include span(4 last);
		float: left;
	}
	@include susy-media($screen-lg) {
		@include span(3 last);
		@include push(1);
		float: left;
	}

	.info-session-content {
		margin-left: 0;
	}
}

.custom-page.primary-section {
	.section-header {
		.transparent-header.has-featured-image & {
			min-height: 0;
			padding-bottom: 40px;
			padding-top: 100px;
		}
	}
	.section-header-content {
		.has-featured-image & {
			margin: 2em 0 0;
		}
	}
	.section-title {
		font-size: 2.2em;
	}
}