.itinerary {

	h1 {
		@media only print {
			font-size: 42px;
		}
	}

	h2 {
		font-size: em(30);
		font-weight: 700;
		margin-top: 80px;
		margin-bottom: 30px;
		@media print {
			margin-top: 0;
		}
	}
}

.section-header {
	.smithsonian {
		@include smithsonian;
	}
}
.tour-details {
	@include container();
	background-color: $gray_lighter;
	padding-bottom: 1.5em;
	@media only print {
		border-bottom: 1px solid #707787;
	}

	.h3 {
		font-weight: 700;
		position: relative;
		@media only print {
			font-size: 22px;
		}

		.icon {
			display: inline-block;
			color: $blue_dark;
			width: 30px;
		}

		.icon-pin,
		.icon-weather {
			@include susy-media($screen-sm) {
				// position: absolute;
				// margin: 0;
				// left: -35px;
				// top: 3px;
			}
		}
	}

}

.tour-duration {
	@include span(full);

	@include susy-media($screen-sm) {
		@include span(3);
	}

	@media print {
		width: 100% !important;
		float: none !important;
	}

	.date-list {
		margin: 0 0 0 38px;
		padding-top: 0.75em;
		border-top: 1px solid $gray_light;
		&.all-dates {
			li .toggle-dates:before {
				content: "Hide";
			}
		}

		&.columns-2 {
			li {
				width: 50%;
				float: left;
				font-size: 0.8em;
				@include susy-media($screen-sm) {
					width: 100%;
				}
				@include susy-media($screen-md) {
					width: 50%;
				}
			}
		}

		li {
			margin-bottom: 0.75em;
			padding-bottom: 0.75em;
			border-bottom: 1px solid $gray_light;
			&:last-child {
				border-bottom: 0;
			}
			&.hidden-dates {
				display: none;
			}
			@media print {
				display: block !important;
			}

			.toggle-dates {
				font-weight: 700;
				&:before {
					content: "See more";
				}
			}
		}
	}
}

.tour-features {
	@include span(full);

	@include susy-media($screen-sm) {
		@include span(5);
	}
	@include susy-media($screen-lg) {
		@include span(4);
		@include push(1);
	}

	@media only print {
		width: 100%;
		float: none;
		margin: 0;
	}
}

.tour-feature-list {
	margin-left: 38px;
}

.tour-feature {
	@include span(full);
	font-size: em(14);

	@media print {
		width: 100% !important;
		display: block !important;
		float: none !important;
	}
}

.tour-weather {
	@include span(full);

	@include susy-media($screen-sm) {
		@include span(4 last);
		float: left;
	}
	@include susy-media($screen-lg) {
		@include span(3 last);
		@include push(1);
		float: left;
	}

	.weather-content {
		margin-left: 38px;
	}
}

.tour-local-time, .tour-local-weather {
	@include span(full);

	@include susy-media($screen-lg) {
		width: 50%;
		float: left;
	}

	time, span:first-child {
		display: block;
		color: $blue_dark;
		font-size: em(20);
		font-weight: 700;
	}

	span:last-child {
		font-size: em(14);
	}
}

.tour-sharing {
	@include container();
	padding: 1.5em 0 0;

	.sharing-links {
		margin: 0;
		text-align: center;

		li {
			@include susy-media($screen-sm) {
				display: inline-block;
				margin: 0px 2vw 1.5em;
			}

			a {
				font-weight: 700;
				display: block;
				padding: 0.5em 0;
				@include susy-media($screen-sm) {
					padding: 0;
				}

				.icon {
					@include susy-media($screen-sm) {
						font-size: em(24);
						vertical-align: -0.1em;
						margin-right: 0.3em;
					}
				}
			}
		}
	}
}	

.tour-highlights {
	position: relative;
	max-width: 1500px;
	margin: 0 auto;
}
.tour-highlights-print {
	@include container();
	display: none;

	li {
		@include clearfix;
		margin-bottom: 1em;

		img {
			width: 250px;
			float: left;
			margin-right: 1em;
		}
		h4 {
			margin-top: 0;
		}
	}

	@media print {
		display: block;
	}
}

.tour-highlights-slider {
	@include span(full no-gutters);

	@include susy-media($screen-sm) {
		@include span(8 no-gutters);
		width: 66%;
	}
}

#tour-highlights-map {
	height: 300px;
	height: 50vw;
	width: 100%;

	@include susy-media($screen-sm) {
		display: block;
		position: absolute !important;
		height: auto;
		top: 0;
		right: 0;
		bottom: 0;
		width: 34%;
	}
}

.tour-itinerary {
	@include container();
	@media only print {
		border-top: 1px solid #707787;
		padding-top: 2em;
	}
}

.tour-day {
	@include clearfix;
	@media print {
		margin-top: 4em;
	}

	.tour-hero {
		background-size: cover;
		height: 40vh;
		@include bleed-x(5vw);
	}

	.tour-hero-pattern {
		max-height: 100px;
	}

	.tour-day-marker {
		width: span(1);
		min-width: 60px;
		text-align: center;
		background: #fff;
		height: 35px;
		margin-top: -35px;
		color: $blue_dark;
		font-size: em(20);
		font-weight: 700;
		display: inline-block;
		float: left;
		@media print {
			width: 50px;
			min-width: 0;
		}
	}

	.tour-day-number {
		width: span(1);
		min-width: 60px;
		text-align: center;
		background: $blue_dark;
		color: #fff;
		font-size: em(50);
		line-height: 1;
		padding-bottom: 10px;
		font-weight: 700;
		display: inline-block;
		float: left;
		@media print {
			border: 4px solid $blue-dark;
			border-bottom-width: 8px;
			float: left;
			font-size: 2em;
			padding: 4px 0 0;
			width: 50px;
			height: 50px;
			min-width: 0;
		}
	}

	> header > .h3 {
		@include span(full);
		font-weight: 700;
		margin-bottom: 2em;

		@include susy-media($screen-sm) {
			@include span(11 last);
		}

		@media print {
			float: left;
			width: auto;
			margin: 0.5em 0;
			clear: both;
		}
	}

	.day-wrap {
		@include container();
		padding: 0;
		width: 100%;

		@include susy-media($screen-sm) {
			display: flex;
			padding: 0;
		}

		@media only print {
			display: block;
			clear: both;
		}
	}

	.tour-activity-list {
		@include span(full);
		list-style: none;
		margin: 0;
		padding-left: 50px;
		padding-bottom: 2em;
		position: relative;

		@include susy-media($screen-sm) {
			@include span(7);
		}

		@media print {
			padding-left: 0;
			float: none;
			width: 100%;
		}

		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 2px;
			background: $gray_light;
			height: 100%;
		}

		strong {
			font-size: em(22);
			@media print {
				font-size: 1em;
			}
		}

		strong, span {
			display: block;
		}

		li {
			position: relative;

			&:after {
				content: '';
				width: 12px;
				height: 12px;
				border: 2px solid $blue_dark;
				border-radius: 50%;
				background-color: #fff;
				display: block;
				position: absolute;
				top: 12px;
				left: -55px;
			}

			@media print {
				&:after {
					left: -20px;
					top: 5px;
				}
			}
		}
	}

	.tour-related-posts {
		@include span(full);
		position: relative;

		@include susy-media($screen-sm) {
			@include span(5 last);
			margin-bottom: 4em;

			.h3 {
				margin-top: 0;
				margin-bottom: 10px;
				font-weight: 700;
				padding-left: 2vw;
			}
		}

		.meta {
			li {
				display: inline-block;
				margin-right: 10px;
			}
			a {
				color: $blue_light;
				font-size: 75%;
				text-transform: uppercase;
				&:hover {
					color: $color_link;
				}
			}
		}

		header {
			@include clearfix;
			padding: 25vh 2vw 0;
			margin-bottom: 1em;

			&.no-pattern {
				background-size: cover !important;
				background-repeat: no-repeat !important;
			}

			.entry-author {
				margin-top: 1em;
				color: #fff;
				position: absolute;
				top: 1em;

				.avatar {
					width: 33%;
				}
			}

			h3 {
				color: #fff;
				margin-top: 0;
				margin-bottom: 2em;
			}

			a h3:hover {
				color: $color_link;
			}
		}

		p {
			font-size: em(14);
			line-height: 1.5;
			padding: 0 2vw;
		}

		.btn {
			margin: 0 2vw;
		}
	}
}