.itinerary {

	h2 {
		font-size: em(30);
		font-weight: 700;
		margin-top: 80px;
		margin-bottom: 30px;
	}
}

.tour-details {
	@include container();
	background-color: $gray_lighter;
	padding-bottom: 1.5em;

	.h3 {
		font-weight: 700;
		position: relative;

		.icon {
			display: inline-block;
			color: $blue_dark;
			width: 30px;
		}

		.icon-pin,
		.icon-weather {
			@include susy-media($screen-sm) {
				position: absolute;
				margin: 0;
				left: -35px;
				top: 3px;
			}
		}
	}

	.date-list {
		li {
			margin-bottom: 0.75em;
			padding-bottom: 0.75em;
			border-bottom: 1px solid $gray_light;
			&:last-child {
				margin-bottom: 0;
				padding-bottom: 0;
				border-bottom: 0;
			}
		}
	}
}

.tour-duration {
	@include span(full);

	@include susy-media($screen-sm) {
		@include span(2);
	}
}

.tour-features {
	@include span(full);

	@include susy-media($screen-sm) {
		@include span(5);
		@include push(1);
	}
}

.tour-feature {
	@include span(full);
	font-size: em(14);

	@include susy-media($screen-sm) {
		// @include gallery(3 of 6);
	}
}

.tour-weather {
	@include span(full);

	@include susy-media($screen-sm) {
		@include span(4 last);
	}
}

.tour-local-time, .tour-local-weather {
	@include span(full);

	@include susy-media($screen-sm) {
		@include span(2 of 4);
	}

	time, span:first-child {
		display: block;
		color: $blue_dark;
		font-size: em(20);
		font-weight: 700;
	}

	span:last-child {
		font-size: em(14);
	}
}

.tour-local-time {
	@include susy-media($screen-sm) {
		@include last;
	}
}

.tour-sharing {
	@include container();
	padding: 1.5em 0;

	.sharing-links {
		margin: 0;
		text-align: center;

		li {
			@include susy-media($screen-sm) {
				display: inline-block;
				margin: 0px 4vw;
			}

			a {
				font-weight: 700;
				display: block;
				padding: 0.5em 0;
				@include susy-media($screen-sm) {
					padding: 0;
				}

				.icon {
					@include susy-media($screen-sm) {
						font-size: em(24);
						vertical-align: -0.1em;
						margin-right: 0.3em;
					}
				}
			}
		}
	}
}	

.tour-highlights {
	max-width: 1500px;
	margin: 0 auto;
}

.tour-highlights-slider {
	@include span(full no-gutters);

	@include susy-media($screen-sm) {
		@include span(8 no-gutters);
	}
}

.tour-itinerary {
	@include container();
}

.tour-day {
	@include clearfix;

	.tour-hero {
		background-size: cover;
		height: 40vh;
		@include bleed-x(5vw);
	}

	.tour-day-marker {
		width: span(1);
		min-width: 60px;
		text-align: center;
		background: #fff;
		height: 35px;
		margin-top: -35px;
		color: $blue_dark;
		font-size: em(20);
		font-weight: 700;
		display: inline-block;
		float: left;
	}

	.tour-day-number {
		width: span(1);
		min-width: 60px;
		text-align: center;
		background: $blue_dark;
		color: #fff;
		font-size: em(50);
		line-height: 1;
		padding-bottom: 10px;
		font-weight: 700;
		display: inline-block;
		float: left;
	}

	> header > .h3 {
		@include span(full);
		font-weight: 700;
		margin-bottom: 2em;

		@include susy-media($screen-sm) {
			@include span(11 last);
		}
	}

	.day-wrap {
		@include container();
		padding: 0;
		width: 100%;

		@include susy-media($screen-sm) {
			display: flex;
			padding: 0;
		}
	}

	.tour-activity-list {
		@include span(full);
		list-style: none;
		margin: 0;
		padding-left: 50px;
		padding-bottom: 2em;
		position: relative;

		@include susy-media($screen-sm) {
			@include span(7);
		}

		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 2px;
			background: $gray_light;
			height: 100%;
		}

		strong {
			font-size: em(22);
		}

		strong, span {
			display: block;
		}

		li {
			position: relative;

			&:after {
				content: '';
				width: 12px;
				height: 12px;
				border: 2px solid $blue_dark;
				border-radius: 50%;
				background-color: #fff;
				display: block;
				position: absolute;
				top: 12px;
				left: -55px;
			}
		}
	}

	.tour-related-post {
		@include span(full);

		@include susy-media($screen-sm) {
			@include span(5 last);

			.h3 {
				margin-top: 0;
				margin-bottom: 10px;
				font-weight: 700;
				padding-left: 2vw;
			}
		}

		header {
			@include clearfix;
			padding: 0 2vw;
			margin-bottom: 1em;

			&.no-pattern {
				background-size: cover !important;
				background-repeat: no-repeat !important;
			}

			h3 {
				color: #fff;
				margin-top: 30vh;
			}
		}

		p {
			font-size: em(14);
			line-height: 1.5;
			padding: 0 2vw;
		}
	}
}