// a {
// 	color: $color_link;
// 	text-decoration: none;
// 	transition: all 250ms ease;

// 	&:visited {
// 		color: $color_link_visited;
// 	}
// 	&:hover,
// 	&:focus,
// 	&:active {
// 		color: $color_link_hover;
// 	}
// 	&:focus {
// 		outline: thin dotted;
// 	}
// 	&:hover,
// 	&:active {
// 		outline: 0;
// 	}
// }

a {
	transition: all 250ms ease;
}

.breadcrumbs {
	color: $gray_base;
	text-transform: uppercase;
	font-size: em(12);

	time, a, span {
		margin-right: 10px;
		margin-left: 10px;

		&:first-child {
			margin-left: 0;
		}

		&:last-child {
			margin-right: 0;
		}
	}

	a {
		color: $gray_base;

		&:hover {
			color: $gray_light;
		}
	}
}