<nav class="explore-filters ws-container">

	<!-- <p class="search-by">Search by</p> -->
	
	<ul class="current-filters list-unstyled clearfix">
		<li class="interests-filters">Interests</li>
		<li class="traveler-filters">Traveler</li>
		<li class="destination-filters">Destination</li>
	</ul>
	
	<ul class="filter-menus list-unstyled clearfix">

		<li class="filter-menu interests-menu">
			<div class="interests-filters hide-sm">Interests <span class="icon icon-arrow-down"></span></div>
			<ul class="terms-list list-unstyled clearfix">
				
				<?php $terms = get_terms( 'filter', array( 'child_of' => 11 ) ); ?>
				<?php foreach ( $terms as $term ) : ?>
				<li><a href="#<?php echo $term->slug; ?>"><?php echo $term->name; ?></a></li>
				<?php endforeach; ?>

			</ul>
		</li>

		<li class="filter-menu traveler-menu">
			<div class="traveler-filters hide-sm">Traveler <span class="icon icon-arrow-down"></span></div>
			<ul class="terms-list list-unstyled clearfix">

				<?php $terms = get_terms( 'filter', array( 'child_of' => 222 ) ); ?>
				<?php foreach ( $terms as $term ) : ?>
				<li><a href="#<?php echo $term->slug; ?>"><?php echo $term->name; ?></a></li>
				<?php endforeach; ?>

			</ul>
		</li>

		<li class="filter-menu destination-menu">
			<div class="destination-filters hide-sm">Destination <span class="icon icon-arrow-down"></span></div>
			
			<?php $continents = get_terms( 'filter', array( 'parent' => 6 ) ); ?>

			<ul class="distinations-global list-unstyled clearfix">
				<li class="destination-map">
					&nbsp;
					<span class="destination-graphic"></span>
				</li>
				<li class="terms">
					<ul class="terms-list list-unstyled clearfix">
						<?php foreach ( $continents as $continent ) : ?>

						<li><a href="#<?php echo $continent->slug; ?>"><?php echo $continent->name; ?></a></li>

						<?php endforeach; ?>
					</ul>
				</li>
			</ul>

			<?php foreach ( $continents as $continent ) : ?>
				
				<ul class="destinations-continental list-unstyled clearfix">
					<li class="destination-map">
						<?php echo $continent->name; ?>
						<span class="destination-graphic"></span>
					</li>
					<li class="terms">
						<ul class="terms-list list-unstyled clearfix">
							<?php $destinations = get_terms( 'filter', array( 'parent' => $continent->term_id) ); 
							foreach ( $destinations as $destination ) : ?>

							<li><a href="#"><?php echo $destination->name; ?></a></li>
							
							<?php endforeach; ?>
						</ul>
					</li>
				</ul>

			<?php endforeach; ?>
		</li>

	</ul>
</nav>

<section class="explore-results section-content">

	<div class="collections">
		<header class="results-header">
			<h2>Collections</h2>
			<a href="#" class="see-more">See more</a>
		</header>
		<div class="results clearfix">

			<article ng-repeat="(key, collection) in collections"
					 class="{{collection.type}} {{collection.slug}} tile tile-third {{ (key > 2) ? 'hidden' : '' }}"
					 style="background-image:url(http://localhost/worldstrides/wp-content/themes/worldstrides/assets/images/src/patterns/ws_w_pattern{{ (key % 2 == 0) ? '5' : '8' }}.gif);" >

				<div class="tile-content collection-content">
					<ul class="meta collection-meta list-unstyled">
						<li><a href="#">High School</a></li>
					</ul>
					<h2 class="tile-title collection-title"><a href="{{collection.link}}">{{ collection.title.rendered }}</a></h2>
				</div>

			</article>

		</div>
	</div>

	<div class="itineraries">
		<header class="results-header">
			<h2>Itineraries</h2>
		</header>
		<div class="results clearfix">
			
			<article ng-repeat="(key, itinerary) in itineraries"
					 class="{{itinerary.type}} {{itinerary.slug}} tile tile-third"
					 style="background-image:url(http://localhost/worldstrides/wp-content/themes/worldstrides/assets/images/src/patterns/ws_w_pattern{{ (key % 2 == 0) ? '1' : '2' }}.gif);" >

				<div class="tile-content itinerary-content">
					<ul class="meta itinerary-meta list-unstyled">
						<li><a href="#">High School</a></li>
					</ul>
					<h2 class="tile-title itinerary-title"><a href="{{itinerary.link}}">{{ itinerary.title.rendered }}</a></h2>
				</div>

			</article>

		</div>
	</div>

</section>