.content-area {
	margin: 0;
	width: 100%;
	.has-featured-image & {
		@include susy-media($screen-sm) {
			margin-top: 30px;
		}
	}
}

.site-main {
	margin: 0;
}

.site-content .widget-area {
	overflow: hidden;
	width: 100%;
}

@import "content/posts-and-pages";

@import "content/asides";

@import "content/comments";

@import "content/widgets";
