// @import "document/normalize";

@import "document/variables";
@import "document/mixins";

@import "document/bootstrap/bootstrap";

@import "document/elements/elements";
@import "document/forms/forms";
@import "document/media/media";
@import "document/modules/modules";
@import "document/navigation/navigation";
@import "document/typography/typography";

@import "document/helpers";

.entry-content,
.comment-content,
.site-header,
.site-content,
.site-footer {
	@include clearfix;
}

#page {
  // @include container;
}

.site-footer {
	clear: both;
	width: 100%;
}

/* Media size indicator (for development purposes).
 * ---------------------------------------------------------------- *
 */
.media-size {
	position: fixed;
	z-index: 99999;
	bottom: 0;
	left: 50%;
	&:before {
		content: "";
		background: #FFF;
		text-align: center;
		font-size: 12px;
		font-weight: bold;
	}

	@media (min-width: 600px) {
	 	&:before {
			content: "small";
		}
	}
	@media (min-width: 780px) {
	 	&:before {
			content: "medium";
		}
	}
	@media (min-width: 960px) {
	 	&:before {
			content: "large";
		}
	}
	@media (min-width: 1200px) {
		&:before {
			content: "x-large";
		}
	}
}