@import "document/variables";
@import "document/mixins";
@import "document/functions";

@import "document/bootstrap/bootstrap";
// @import "document/normalize";

@import "document/elements/elements";
@import "document/forms/forms";
@import "document/media/media";
@import "document/modules/modules";
@import "document/navigation/navigation";
@import "document/typography/typography";

@import "document/helpers";

body {
	@media only print {
		font-size: 12px;
		margin: 2em 72px 3em;
	}
}

#page {
  overflow: hidden;
  position: relative;
}

.entry-content,
.comment-content,
.site-header,
.site-content,
.site-footer {
	@include clearfix;
}

.site-footer {
	clear: both;
	width: 100%;
}

.ws-js {
	.no-js-content {
		display: none !important;
	}
}
.ws-no-js {
	.js-only {
		display: none !important;
	}
}

/* Media size indicator (for development purposes).
 * ---------------------------------------------------------------- *
 */
.media-size {
	position: fixed;
	z-index: 99999;
	bottom: 0;
	right: 1em;
	&:before {
		content: "";
		color: #FFF;
		text-shadow: 0 0 3px #000;
		text-align: center;
		font-size: 12px;
		font-weight: bold;
	}

	@media (min-width: 600px) {
	 	&:before {
			content: "small";
		}
	}
	@media (min-width: 780px) {
	 	&:before {
			content: "medium";
		}
	}
	@media (min-width: 960px) {
	 	&:before {
			content: "large";
		}
	}
	@media (min-width: 1200px) {
		&:before {
			content: "x-large";
		}
	}
}