@font-face {
	font-family: 'worldstrides-ui';
	src:url('../fonts/worldstrides-ui.eot?-iu707y');
	src:url('../fonts/worldstrides-ui.eot?-iu707y#iefix') format('embedded-opentype'),
		url('../fonts/worldstrides-ui.ttf?-iu707y') format('truetype'),
		url('../fonts/worldstrides-ui.woff?-iu707y') format('woff'),
		url('../fonts/worldstrides-ui.svg?-iu707y#worldstrides-ui') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'worldstrides-ui';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

$icon-faith-based: "\e623";
$icon-sports: "\e622";
$icon-shield: "\e621";
$icon-service: "\e61c";
$icon-professional: "\e61d";
$icon-science-and-technology: "\e61e";
$icon-history-culture-and-language: "\e61f";
$icon-performing: "\e620";
$icon-arrow-down: "\e617";
$icon-arrow-left: "\e618";
$icon-arrow-right: "\e619";
$icon-arrow-up: "\e61a";
$icon-small-close: "\e61b";
$icon-print: "\e615";
$icon-email: "\e613";
$icon-pdf: "\e614";
$icon-calendar: "\e608";
$icon-pin: "\e609";
$icon-sun: "\e60a";
$icon-moon: "\e60b";
$icon-cloudy: "\e60c";
$icon-cloud2: "\e611";
$icon-cloud: "\e60d";
$icon-lightning: "\e60e";
$icon-rainy: "\e60f";
$icon-snowy: "\e610";
$icon-mist: "\e612";
$icon-close: "\e605";
$icon-menu: "\e606";
$icon-search: "\e607";
$icon-instagram: "\e601";
$icon-facebook: "\e604";
$icon-pinterest: "\e602";
$icon-twitter: "\e603";
$icon-youtube: "\e616";
$icon-linkedin: "\e600";

.icon-faith-based:before {
	content: $icon-faith-based;
}
.icon-sports:before {
	content: $icon-sports;
}
.icon-shield:before {
	content: $icon-shield;
}
.icon-service:before {
	content: $icon-service;
}
.icon-professional:before {
	content: $icon-professional;
}
.icon-science-and-technology:before {
	content: $icon-science-and-technology;
}
.icon-history-culture-and-language:before {
	content: $icon-history-culture-and-language;
}
.icon-performing:before {
	content: $icon-performing;
}
.icon-arrow-down:before {
	content: $icon-arrow-down;
}
.icon-arrow-left:before {
	content: $icon-arrow-left;
}
.icon-arrow-right:before {
	content: $icon-arrow-right;
}
.icon-arrow-up:before {
	content: $icon-arrow-up;
}
.icon-small-close:before {
	content: $icon-small-close;
}
.icon-print:before {
	content: $icon-print;
}
.icon-email:before {
	content: $icon-email;
}
.icon-pdf:before {
	content: $icon-pdf;
}
.icon-calendar:before {
	content: $icon-calendar;
}
.icon-pin:before {
	content: $icon-pin;
}
.icon-sun:before {
	content: $icon-sun;
}
.icon-moon:before {
	content: $icon-moon;
}
.icon-cloudy:before {
	content: $icon-cloudy;
}
.icon-cloud2:before {
	content: $icon-cloud2;
}
.icon-cloud:before {
	content: $icon-cloud;
}
.icon-lightning:before {
	content: $icon-lightning;
}
.icon-rainy:before {
	content: $icon-rainy;
}
.icon-snowy:before {
	content: $icon-snowy;
}
.icon-mist:before {
	content: $icon-mist;
}
.icon-close:before {
	content: $icon-close;
}
.icon-menu:before {
	content: $icon-menu;
}
.icon-search:before {
	content: $icon-search;
}
.icon-instagram:before {
	content: $icon-instagram;
}
.icon-facebook:before {
	content: $icon-facebook;
}
.icon-pinterest:before {
	content: $icon-pinterest;
}
.icon-twitter:before {
	content: $icon-twitter;
}
.icon-youtube:before {
	content: $icon-youtube;
}
.icon-linkedin:before {
	content: $icon-linkedin;
}


// Social Share Links

.blog-social-links {
	margin-bottom: 1em;

	i {
		display: inline-block;
		margin-right: 10px;
	}
}