@font-face {
	font-family: 'worldstrides-ui';
	src:url('../fonts/worldstrides-ui.eot?-jyyfio');
	src:url('../fonts/worldstrides-ui.eot?#iefix-jyyfio') format('embedded-opentype'),
		url('../fonts/worldstrides-ui.ttf?-jyyfio') format('truetype'),
		url('../fonts/worldstrides-ui.woff?-jyyfio') format('woff'),
		url('../fonts/worldstrides-ui.svg?-jyyfio#worldstrides-ui') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'worldstrides-ui';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-sports:before {
	content: "\e622";
}
.icon-shield:before {
	content: "\e621";
}
.icon-faith-and-service:before {
	content: "\e61c";
}
.icon-professional:before {
	content: "\e61d";
}
.icon-science-and-technology:before {
	content: "\e61e";
}
.icon-history-culture-and-language:before {
	content: "\e61f";
}
.icon-performing:before {
	content: "\e620";
}
.icon-arrow-down:before {
	content: "\e617";
}
.icon-arrow-left:before {
	content: "\e618";
}
.icon-arrow-right:before {
	content: "\e619";
}
.icon-arrow-up:before {
	content: "\e61a";
}
.icon-small-close:before {
	content: "\e61b";
}
.icon-print:before {
	content: "\e615";
}
.icon-email:before {
	content: "\e613";
}
.icon-pdf:before {
	content: "\e614";
}
.icon-calendar:before {
	content: "\e608";
}
.icon-pin:before {
	content: "\e609";
}
.icon-sun:before {
	content: "\e60a";
}
.icon-moon:before {
	content: "\e60b";
}
.icon-cloudy:before {
	content: "\e60c";
}
.icon-cloud2:before {
	content: "\e611";
}
.icon-cloud:before {
	content: "\e60d";
}
.icon-lightning:before {
	content: "\e60e";
}
.icon-rainy:before {
	content: "\e60f";
}
.icon-snowy:before {
	content: "\e610";
}
.icon-mist:before {
	content: "\e612";
}
.icon-close:before {
	content: "\e605";
}
.icon-menu:before {
	content: "\e606";
}
.icon-search:before {
	content: "\e607";
}
.icon-instagram:before {
	content: "\e601";
}
.icon-facebook:before {
	content: "\e604";
}
.icon-pinterest:before {
	content: "\e602";
}
.icon-twitter:before {
	content: "\e603";
}
.icon-youtube:before {
	content: "\e616";
}
.icon-linkedin:before {
	content: "\e600";
}


// Social Share Links

.blog-social-links {
	margin-bottom: 1em;

	i {
		display: inline-block;
		margin-right: 10px;
	}
}