.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.entry-header {
	position: relative;
	margin-bottom: 2em;

	&.entry-header-bg-hero {

		@media (min-width: 960px) {
			position: relative;
			height: 0;
			padding-top: 50%;
			overflow: hidden;
		}
	}
}

.entry-image {
	position: relative;

	&.bg-hero {

		@media (min-width: 960px) {
			position: absolute;
			top: 0;
		}
	}
}

.overlay-text {
	@media (min-width: 960px) {
		position: absolute;
		top: 15%;
		color: #FFF;

		a {
			color: $blue_light;
			&:hover {
				color: $orange;
			}
		}
	}
}

.entry-title {
	
}

.entry-content,
.entry-summary {
	// margin: 0 0 1.5em;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.belt {
	margin-bottom: 3em;
}

.btn.nohover:hover {
    cursor:default !important;
}

.nohover.btn-success:hover,
.nohover.btn-success:focus,
.nohover.btn-success.focus,
.nohover.btn-success:active,
.nohover.btn-success.active {
  color: #ffffff;
  background-color: #4fa9e5;
  border-color: #4fa9e5;
}

@import "posts/post";
@import "pages/page";