.about {

	.entry-content {
		max-width: 670px;
	}
}

.leadership {
	> article {
		@include span(full);

		@include susy-media($screen-xs) {
			@include gallery(4 wide);
		}
	}

	.headshot {

		img {
			width: 100%;
		}
	}

	.entry-title, .entry-position, .entry-content {
		margin-right: 1em;
	}
}