.about {

	h2 {
		margin-bottom: 35px;
	}

	.entry-content {
		// max-width: 670px;
	}

	&.section-content {
		
		@include susy-media($screen-sm) {
			@include span(9);
			padding-right: 0;
		}
	}
}

.about-wrap {
	@include container();
	padding: 0;

	@include susy-media($screen-sm) {
		display: flex;
		padding: 0;
	}
}

// PARTNERSHIP SUBPAGE

.partnerships p {
	max-width: 670px;
}

.partners {
	margin-bottom: 4em;

	h3 {
		margin-bottom: 1em;
	}
}

.partner-wrap {
	@include clearfix;
}

.partner {
	@include span(full);
	margin-bottom: 2em;

	@include susy-media($screen-xs) {
		@include gallery(3 of 9);
	}
}

.partner-img {
	display: block;
	max-height: 65px;
	margin-bottom: gutter();
}

.partner-title {
	display: block;
	font-size: em(14);
	line-height: 1.25;
	font-weight: bold;
	color: $color_text_main;
	&:hover {
		color: $color_text_main;
	}
}

.footnote {
	clear: both;
	font-size: em(12);
	color: $gray_light;
	margin-top: 2em;
}

// CAREERS SUBPAGE

.benefit {
	@include span(full);

	@include susy-media($screen-xs) {
		@include gallery(4.5 of 9);
	}
}

.benefit-img, .benefit-desc {
	display: block;
	margin-bottom: 1em;
	line-height: 1.5;
}

.benefit-img {
	width: auto;
	max-height: 80px;
}

.career-btn {
	margin-bottom: 1.5em;
}

.career .page {
	margin-bottom: 0;
}

.career {
	p {
		max-width: 670px;
	}
}

// LEADERSHIP SUBPAGE


.leadership {
	> article {
		@include span(full);

		@include susy-media($screen-xs) {
			@include gallery(4 wide);
		}
	}

	.headshot {

		img {
			width: 100%;
		}
	}

	.entry-title, .entry-position, .entry-content {
		margin-right: 1em;
	}

}

.entry-position {
	margin-bottom: 1em;
	display: block;
}


.leadership-content p {
	max-width: 670px;
}

.headshot-pattern {
	padding-top: 66.345%;
}

// LEADERSHIP SINGLE
.headshot-hero {
	@include span(full);
	margin-bottom: 1em;

	@include susy-media($screen-sm) {
		@include span(6);
	}

	.wp-post-image {
		width: 100%;
	}
}

.leadership-content .bio,
.single-bio .bio {
	.entry-content {
		@include span(full);
		margin-top: 0;

		@include susy-media($screen-sm) {
			@include span(6 last);
		}

		&.has-post-thumbnail {
			
		}
	}

	.entry-title {
		color: $color_text_heading;
	}
}

// HISTORY SUBPAGE

.timeline {
	list-style: none;
	padding: 0;
	margin: 0;
	padding-left: 90px;
	position: relative;

	&:before {
		content: '';
		position: absolute;
		left: 57px;
		top: 0;
		width: 2px;
		background: $gray_light;
		height: 100%;
	}

	.timeline-event {
		max-width: 670px;
	}

	.timeline-year {
		position: absolute;
		left: 0;
		margin: 0;
		display: block;
		line-height: 1.8;
		color: $blue;
	}

	.timeline-content {
		position: relative;

		&:after {
			content: '';
			width: 12px;
			height: 12px;
			border: 2px solid $blue;
			border-radius: 50%;
			background-color: #fff;
			display: block;
			position: absolute;
			top: 13%;
			left: -38px;
		}
	}
}