.error-404 {
	@include container();
}

.error-map {
	@include container();
	background-color: $gray_base;
	background-position: center center;
	padding-top: 14em;

	@include susy-media($screen-sm) {
		padding-top: 21em;
	}
	@include susy-media($screen-lg) {
		background-size: cover;
	}
}