
/* Explore Tool
 * ------------------------------------------------------------- */

.explore-tool {
	position: relative;

	.active-filter {
		display: inline-block;
		color: #FFF;
		font-weight: 700;
		margin-right: 1em;
		.icon {
			margin-left: 5px;
			vertical-align: middle;
			cursor: pointer;
			&:hover {
				color: $blue;
			}
		}
	}

	.explore-filters-toggle {
		display: none;
		background-color: #323C53;
	    color: #FFF;
	    border-top: 1px solid $gray_darker;
	    text-align: center;
	    padding: 0.5em 0;

		@media screen and ( min-width: $screen-sm ) {
			display: block;
		}

		&:hover {
			background-color: $blue;
		}
	}

	.search-by {
	    position: absolute;
	    top: -30px;
	    left: 5vw;
	    color: #FFF;
	}
	.clear-all {
		display: block;
	    max-width: 135px;
	    text-align: center;
	    padding: 0.25em 1em 0.4em 0.5em;
	    margin: -45px auto 0;
	    background-color: #FFF;
	    color: $blue;
	    transition: all 300ms ease;

	    @media screen and ( min-width: $screen-sm ) {
		    position: absolute;
		    bottom: 95%;
		    right: 5vw;
		    padding: 0.2em 1em 0.2em 0.4em;
		}

		@at-root {
			.explore-tool.has-filter .clear-all {
				margin-top: 0;
				@media screen and ( min-width: $screen-sm ) {
					bottom: 100%;
				}
			}
		}

		&:hover {
			background-color: $orange;
			color: #FFF;
		}

		.icon {
			vertical-align: middle;
		}
	}
}

/* Explore Filters
 * ------------------------------------------------------------- */
.explore-filters {
	position: relative;
	z-index: 1;
	background: $navy;
	color: $gray;
	&.filter-menus-closed {		
		
		.filter-menus {
			transition: max-height 400ms ease-out;

			@media screen and (min-width: $screen-sm) {
			    max-height: 0;
			}
		}

		& ~ .explore-filters-toggle {
			.icon-arrow-up:before {
				content: "\e617";
			}
		}
	}

	a {
		color: #FFF;
		font-weight: 600;
		&:hover {
			color: $blue;
		}
	}

	.hide-sm {
		@media screen and (min-width: $screen-sm) {
			display: none;
		}
	}

	.filter-menus {
		display: block;
		margin: 0;
		height: auto;
		max-height: 1000px;
		transition: max-height 400ms ease-in;
		@media screen and (min-width: $screen-sm) {
			display: flex;	
		}
	}

	/* Current Filters
	 * ------------------------------------------------------------- */
	ul.current-filters {
		display: none;
		margin: 0;
		@media screen and (min-width: $screen-sm) {
			display: block;
		}

		li {
			padding: 1em 0;
		}

		.traveler-filters {
			&:before {
				content: "Traveler";
				margin-right: 1em;
			}
			@media screen and (min-width: $screen-sm) {
				width: 30%;
				float: left;
				padding-right: 1%;
			}
			@media screen and (min-width: $screen-lg) {
				width: 20%;
			}
		}
		.interests-filters {
			&:before {
				content: "Interests";
				margin-right: 1em;
			}
			@media screen and (min-width: $screen-sm) {
				width: 35%;
				float: left;
				padding-right: 1%;
				padding-left: 1%;
			}
			@media screen and (min-width: $screen-lg) {
				width: 30%;
			}
		}
		.destination-filters {
			&:before {
				content: "Destination";
				margin-right: 1em;
			}
			@media screen and (min-width: $screen-sm) {
				width: 35%;
				float: left;
				padding-left: 1%;
			}
			@media screen and (min-width: $screen-lg) {
				width: 50%;
			}
		}
	}

	.traveler-filters,
	.interests-filters,
	.destination-filters {
		padding: 1em 0;
	}
	.interests-filters {
		&:before {
			content: "Interests";
			margin-right: 1em;
		}
	}
	.traveler-filters {
		&:before {
			content: "Traveler";
			margin-right: 1em;
		}
	}
	.destination-filters {
		&:before {
			content: "Destination";
			margin-right: 1em;
		}
	}

	/* Filter Menu
	 * ------------------------------------------------------------- */
	.filter-menu {
		position: relative;
		border-bottom: 1px solid $gray_darker;
		@media screen and (min-width: $screen-sm) {
			border-bottom: 0;
		}
		&:last-child {
			border-bottom: 0;
		}

		ul {
			margin: 0;
			&:last-child {
				margin-bottom: 0.5em;
			}
			@media screen and (min-width: $screen-sm) {
				display: block;
			}
		}

		.menu-container {
			&.closed {
				display: none;
				& ~ .filter-menu-toggle .icon-arrow:before {
				    content: "\e617"; // arrow down
				}	
			}
			&.open {
				& ~ .filter-menu-toggle .icon-arrow:before {
				    content: "\e61a"; // arrow up
				}	
			}
			@media screen and (min-width: $screen-sm) {
				display: block !important;
			}
		}

		.terms-list {
			position: relative;
			visibility: visible;

			a {
				position: relative;
				display: block;
				padding: 1em 0;
				line-height: 1.2em;
				border-top: 1px solid $gray_darker;
				&.inactive {
					color: $gray_dark;	
				}
			}

			&.terms-list-parent {
				@media screen and (min-width: $screen-sm) {
					// border-top: 1px solid $gray_darker;
					// border-bottom: 1px solid $gray_darker;
				}
			}

			&.terms-list-child {
				.term-list-toggle {
				    display: block;
				    clear: both;
				    font-size: 12px;
				    color: $blue;
				    margin: 0 0 2em;
				    &:hover {
				    	color: #FFF;
				    }
				}

				li.parent-term a {
					color: $blue;
					.icon {
						color: #FFF;
					}
				}
			}

			&.invisible {
				position: absolute;
				z-index: -1;
				visibility: hidden;
			}
		}


		/* Traveler Menu
		** --------------------------------------------------- */
		&.traveler-menu {
			@media screen and (min-width: $screen-sm) {
				width: 30%;
				float: left;
				padding-right: 1%;
				border-right: 1px solid $gray_darker;
			}
			@media screen and (min-width: $screen-lg) {
				width: 20%;
			}
		}

		/* Filter Menu
		** --------------------------------------------------- */
		&.interests-menu {
			@media screen and (min-width: $screen-sm) {
				width: 35%;
				float: left;
				padding-right: 1%;
				padding-left: 1%;
				border-right: 1px solid $gray_darker;
			}
			@media screen and (min-width: $screen-lg) {
				width: 30%;
			}

			.terms-list a {
				padding: 1em 0 1em 55px;
				.icon {
					font-size: 2.1em;
				    margin: -19px 0 0;
				    color: #FFF;
				    position: absolute;
				    left: 0;
				    top: 50%;
				}
			}
		}

		/* Destination Menu
		** --------------------------------------------------- */
		&.destination-menu {
			@media screen and (min-width: $screen-sm) {
				width: 35%;
				float: left;
				padding-left: 1%;
			}
			@media screen and (min-width: $screen-lg) {
				width: 50%;
			}

			.terms-list {
				
				&.invisible {
					.destination-graphic {
						transform: scale(0.8);
						opacity: 0;
					}
					&.destinations-parent {
						.destination-graphic {
							transform: scale(1.2);
						}
					}
				}
			}

			.destinations-child .terms {
				position: relative;
				z-index: 1;
				-webkit-columns: 2;
				-webkit-column-width: 120px;
				-webkit-column-gap: 0;
				-moz-columns: 2;
				-moz-column-width: 120px;
				-moz-column-gap: 0;
				columns: 2;
				column-width: 120px;
				column-gap: 0;

				@at-root {
					.ws-no-csscolumns .explore-filters .filter-menu.destination-menu .destinations-child .terms {
						li {
							@media screen and (min-width: $screen-lg) {
								width: 50%;
								float: left;
							}
						}
					}
				}
			}

			.destination-map {
				color: #FFF;
				font-weight: 700;
				text-align: center;
				color: $blue;
				@media screen and (min-width: $screen-lg) {
					width: 50%;
					float: left;
					padding: 0.8em 20px 0 0;
					border-top: 1px solid $gray_darker;
				}
			}

			.destination-graphic {
				display: block;
				width: 100%;
				margin: 1em 0;
				transform: scale(1);
				opacity: 1;
				transition: all 300ms ease-out;
			}

			.terms {
				@media screen and (min-width: $screen-lg) {
					width: 50%;
					float: right;
				}
			}
		}

		.filter-menu-toggle {
			position: absolute;
		    top: 0;
		    right: 0;
		    padding: 1em;
		    @media screen and (min-width: $screen-sm) {
		    	display: none;
		    }
		}
	}
}


/* Explore Results
 * ------------------------------------------------------------- */
.explore-results {

	.collections,
	.itineraries {
		margin-bottom: 4em;
	}

	.tile {
		display: none; // Required for 'mixItUp' JS filtering plugin
	    height: auto;
	    padding: 0;
	    margin: 0 0 0.4em;
	    padding: 0 0 0.8em;
	    color: $color_text_main;
	    border-bottom: 1px solid $gray_lighter;
	    @include clearfix;

	    @media screen and ( max-width: ($screen-sm - 1) ) {
	    	background-image: none !important;
	    }
	    @media screen and ( min-width: $screen-sm ) {
	    	color: #FFF;
	    	margin: 0;
	    	&.has-post-thumbnail {
				background-size: cover;
			}
	    }

	    img {
	    	float: left;
	    	margin-right: 5%;
	    	width: 25%;
	    	@media screen and ( min-width: $screen-sm ) {
	    		display: none;
	    	}
	    }

		.tile-content {
			position: static;
			float: left;
			width: 70%;

			@media screen and ( min-width: $screen-sm ) {
				position: absolute;
				float: none;
			}

			a {
				color: $navy;
				@media screen and ( min-width: $screen-sm ) {
					color: #FFF;
				}
			}
		}

		ul.meta {
			margin: 0;

			li {
				color: $gray_light;
				font-size: 14px;
				@media screen and ( min-width: $screen-sm ) {
					color: #FFF;
				}

			}
		}

		.tile-title {
			font-weight: 300;
			font-size: 1em;
			@media screen and ( min-width: $screen-sm ) {
				font-size: 29px;
			}
		}
	}

	.results {
		&.fail {
			.no-results {
				display: block;
			}
		}
		.no-results {
			display: none;
		}

	}	
}


























