#intro { 
	position: relative;
	background-size: cover;
	background-position: right bottom;
	@include container();	
}

.intro-content {
	position: relative;
	z-index: 1;
	padding: 8em 0;
	color: #FFF;
	@include susy-media($screen-lg) {
		@include span(8);
	}

	.page-title {
		line-height: 1em;
		margin: 0 0 0.5em;
	}
	.page-subtitle {
		font-weight: lighter;
		margin: 0 0 1.5em;
	}
}

.home-section {

	.section-title {
		margin: 2em 0 1em;
	}

	.tile {
		position: relative;
		height: 0;
		overflow: hidden;
		padding-top: percentage(9/16);
		background-position: center center;
		background-size: cover;

		
		@include susy-media($screen-sm) {
			&.tile-third,
			&.tile-half {
				@include span(50% no-gutters);
				padding-top: 30%;
			}
		}
		@include susy-media($screen-md) {
			&.tile-third  {
				@include span(33.333% no-gutters);
				padding-top: 21%;
			}
		}
		
	
		.tile-content {
			position: absolute;
			bottom: 1em;
			left: 1em;
			@include susy-media($screen-md) {
				bottom: 1.5em;
				left: 1.5em;
			}
			a {
				color: #FFF;
			}
		}

		.tile-title {
			color: #FFF;
			margin: 0;
			a {
				color: inherit;
				&:hover {
					color: $orange;
				}
			}
		}

		.meta {
			li {
				display: inline-block;
				margin-right: 10px;
			}
			a {
				color: $blue_light;
				font-size: 75%;
				text-transform: uppercase;
				&:hover {
					color: $orange;
				}
			}
		}
	}

	&.learn-more {
		margin-top: 4em;
		padding: 2.5em 0;
		background: $gray_base;
		color: #FFF;

		.ws-form {
			margin-bottom: 0;
		
			.form-title {
				font-size: 2em;
			}
		}
	}

}


























