
/* _home.scss
 * ----------------------------------- */

 #intro .section-header {
 	@media screen and (max-width: ($screen-sm - 1)) {
 		min-height: 0 !important;
 	}
 }

.home-section {

	.section-title {
		margin: 2em 0 1em;
	}

	&.itineraries .itineraries-list {
		@include susy-media($screen-sm) {
			margin-right: -5vw;
			margin-left: -5vw;
		}
	}

}

.home .tile.resource {
	background-size: cover;
}
