#page {
	overflow: hidden;
}

section {
	@include clearfix;
}

// Default Page styles

.page-template-default {
	.section-content {
		max-width: 900px;
	}
}

.home {
	&.page-template-default .section-content {
		max-width: 1500px;
	}
}

// These styles apply to the section heros that appear on several pages
.section-nav {
	position: relative;
	background: $gray-base;
	@include container();
	@include clearfix;
	background-image: linear-gradient( transparent 0, transparent 54px, $gray_light 54px, $gray_light 55px, transparent 55px);

	select {
		margin: 1em 0;
	}

	.about & {
		background: $gray_dark;
	}

	.subnav-cta {
		display: none;
		float: right;
		font-size: em(14);
		margin-top: 8px;

		@include susy-media($screen-sm) {
			display: block;
		}
	}
}

.section-menu {
	list-style: none;
	padding: 0;
	margin: 0;
	float: left;

	li {
		display: inline-block;
		margin-right: 20px;

		.about &.current-menu-item a {
			color: #fff;
		}
	}

	a {
		color: #fff;
		line-height: 3;

		&:hover {
			color: $gray-light;
		}

		.about &, &.active {
			color: $gray-light;

			&:hover {
				color: #fff;
			}
		}
	}
}

.section-title {
	font-weight: lighter;
}

.transparent-header .primary-section {
	margin-top: -158px;
	padding-top: 100px !important;

	.section-header {
		margin-top: -100px;
		padding-top: 100px;
		min-height: 75vh;
	}
}

.solid-header .primary-section {
	margin-top: 0;
}

.section-header {
	background-size: cover;
	@include clearfix;
	@include container();
	margin-bottom: gutter()*2;
	position: relative;

	.primary-section &, .single & {
		margin-bottom: 0;
	}

	.has-featured-image & {
		background-size: cover !important;
	}
}

.section-header-content {
	color: $gray_base;
	margin-top: 10%;
	margin-bottom: 4%;
	max-width: 670px;

	.has-section-image & {
		color: #fff;
	}

	.pattern-1 &, .pattern-2 &, .pattern-4 &, .pattern-5 &, .pattern-7 &, .pattern-8 & {
		color: #fff;

		h1 {
			color: #fff;
		}

		.breadcrumbs {
			color: $blue_lighter;

			a {
				color: $blue_lighter;

				&:hover {
					color: $gray_light;
				}
			}
		}
	}


	.primary-section & {
		margin-top: 11.333333%;

		@include susy-media($screen-xs) {
			margin-top: 6.66666%;
			margin-bottom: 11.66666%;
		}

		@media print {
			margin-bottom: 2em;
		}

		.has-featured-image & {
			color: #fff;
		}

		.archive &, .blog &, .single & {
			color: $gray_base;
		}

		.has-featured-image.archive &, .has-featured-image.blog &, .has-featured-image.single & {
			color: #fff;

			.breadcrumbs {
				color: $blue_lighter;

				a {
					color: $blue_lighter;

					&:hover {
						color: $color_link;
					}
				}
			}
		}
	}
}

.section-content {
	@include clearfix;
	@include container();
	margin-top: gutter();
	margin-bottom: gutter();
	position: relative;
}

.ws-tooltips {
	display: none;
	position: relative;
	@include susy-media($screen-md) {
		display: block;
	}
	
	.ws-tooltip {
		position: absolute;
		cursor: pointer;
		&:hover {
			&:before {
				background-color: $orange;
				border-color: #FFF;
			}
			.ws-tooltip-content {
				display: block;
			}
		}
		&:before {
		  content: "";
		  width: 17px;
		  height: 17px;
		  display: block;
		  background-color: rgba($gray_light, 0.7);
		  border-radius: 50%;
		  border: 2px solid rgba($gray_lighter, 0.7);
		}
	}
	.ws-tooltip-content {
		display: none;
		position: absolute;
		top: 15px;
		left: 15px;
		border-radius: 5px;
		background-color: rgba($blue_dark, 0.8);
		padding: 1em;
		color: #FFF;
		width: 300px;
	}
}

@import 'why-worldstrides';
@import 'about';
@import 'contact';
@import 'press';
@import 'careers';
@import 'offices';
@import 'resources';
@import 'home';
@import 'error-404';
@import 'register';
@import 'explore';

