#page {
	overflow: hidden;
}

// These styles apply to the section heros that appear on several pages

.section-title {
	font-weight: lighter;
}

.has-featured-image .primary-section {
	margin-top: -158px;
}

.section-header {
	background-size: cover;
	@include clearfix;
	@include container();
	margin-bottom: gutter()*2;
	background-color: $color_background_header;

	.primary-section & {
		margin-bottom: 0;
	}
}

.section-header-content {
	color: $gray_base;
	margin-top: 10%;
	margin-bottom: 33px;
	@include span(full);

	@include susy-media($screen-xs) {
		@include span(7);
	}

	.primary-section & {
		margin-top: 170px;
		@include susy-media($screen-xs) {
			margin-top: 100px;
			margin-bottom: 175px;

			.has-featured-image & {
				margin-top: 258px;
			}
		}

		.has-featured-image & {
			color: #fff;
		}
	}
}

@import 'why-worldstrides';
@import 'about';