
/* _page.scss
 * ----------------------------------------- */

section {
	@include clearfix;
}

/* Page and Section Headers
 * ------------------------ */

.section-title {
	font-weight: lighter;
}

.primary-section {
	position: relative;

	.transparent-header & {
		@media only print {
			margin-top: 0;
			padding: 0;
		}
	}

	.solid-header & {
		margin-top: 0;
	}
}


.section-header {
	@include clearfix;
	position: relative;
	background-size: cover;
	background-position: right center;
    background-repeat: no-repeat;
    background-color: $gray_base;
	margin-bottom: gutter()*2;

	.primary-section &, .single & {
		margin-bottom: 0;
		border-bottom: 1px solid darken($gray_base, 5%);
	}

	&[class*="pattern-"] {
		background-repeat: repeat;
	}

	.transparent-header .primary-section & {
		padding-top: 89px;
		@include susy-media($screen-sm) {
			padding-top: 181px;
		}
	}

	.has-featured-image .primary-section & {
		@media screen and (max-width: ($screen-sm - 1) ) {
			background-image: none !important;
		}
		@include susy-media($screen-sm) {
			background-size: cover;
			@include overlay-text;
		}
	}

	.transparent-header.has-featured-image .primary-section & {
		padding-top: 0;
		@media only print {
			min-height: 0;
			padding: 0;
		}
		@include susy-media($screen-sm) {
			padding-top: 181px;
			min-height: 75vh;
		}
	}

	.solid-header .primary-section & {
		padding: 3vh 0;
	}

	.mobile-hero {
		@include susy-media($screen-sm) {
			display: none;
		}
		img {
			width: 100%;
		}
	}
	
} // .section-header

.header-subtitle {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	font-size: 1.8em;
    line-height: 1em;
}


.archive.tax-resource-target .primary-section .section-header-content,
.archive.tax-resource-target .primary-section .section-header-content .breadcrumbs {
	color: #fff;
	a { color: #fff; }
	@extend %overlay-text;
}

.section-header-content {
	color: $gray_base;
	margin-top: 10%;
	margin-bottom: 4%;
	max-width: 670px;

	.has-section-image & {
		color: #fff;
		@extend %overlay-text;
	}

	.pattern-1 &, .pattern-2 &, .pattern-4 &, .pattern-5 &, .pattern-6 &, .pattern-7 & {
		color: #fff;

		h1, p, strong, em {
			color: #fff;
		}

		.breadcrumbs {
			color: $blue_lighter;

			a {
				color: $blue_lighter;

				&:hover {
					color: $gray_light;
				}
			}
		}
	}

	.primary-section & {
		margin-top: 5%;
		@include susy-media($screen-xs) {			
			margin-bottom: 6%;
		}
		@media print {
			margin-bottom: 2em;
		}

		p {
			font-weight: 700;
		}

		.header-subtitle {
			font-weight: 400;
		}
	}
	.has-featured-image .primary-section & {
		color: #FFF;

		@include susy-media($screen-xs) {
			margin-top: 6.66666%;
			margin-bottom: 11.66666%;
		}
	}
	.archive .primary-section &, 
	.blog .primary-section &, 
	.single .primary-section & {
		color: $gray_base;
	}
	.has-featured-image.archive .primary-section &, 
	.has-featured-image.blog .primary-section &, 
	.has-featured-image.single .primary-section &, 
	.has-featured-image.page .primary-section & {
		color: #fff;

		.breadcrumbs {
			color: $blue_lighter;

			a {
				color: $blue_lighter;

				&:hover {
					color: $color_link;
				}
			}
		}
	}

	.smithsonian {
		max-width: 300px;
	}
}

.section-content {
	@include clearfix;
	@include container();
	margin-top: gutter();
	margin-bottom: gutter();
	position: relative;
	&.bleed-container {
		padding-right: 0;
		padding-left: 0;
	}

	.page-template-default & {
		@include susy-media($screen-sm) {
			padding-right: 25%;
		}
		@include susy-media($screen-lg) {
			padding-right: 40%;
		}
	}

	.home.page-template-default & {
		@include container();
	}
}

.section-nav {
	@include clearfix;
	position: relative;
	z-index: 3000;
	background: $gray-base;
	background-image: linear-gradient( transparent 0, transparent 54px, $gray_light 54px, $gray_light 55px, transparent 55px);
	border-bottom: 1px solid darken($gray_base, 5%);
	&.scroll-to-fixed-fixed {
		@media screen and (max-width: $screen-sm - 1) {
			top: 0 !important;
		}	
	}

	select {
		margin: 1em 0;
	}

	.about & {
		background: $gray_dark;
	}

	.subnav-cta {
		display: block;
		float: right;
		font-size: em(14);
		margin-top: 8px;

        @media screen and (max-width: $screen-sm - 1) {
			font-size: em(10);
            margin-top:12px;
		}
	}
}

.subnavFormFixed {
}

.subnavForm {
    display: none;
    padding-bottom:60px;
	position:fixed;
	top:85px;
	z-index:900;
	overflow-y:auto;
	height:100%;
	width: 100%;

	@media screen and (max-width: $screen-sm - 1) {
		top:55px;
	}
}

.section-menu {
	list-style: none;
	padding: 0;
	margin: 0;
	float: left;

	li {
		display: inline-block;
		margin-right: 20px;

		.about &.current-menu-item a {
			color: #fff;
		}
	}

	a {
		color: #fff;
		font-size: 16px;
		line-height: 3.4;
		@include susy-media($screen-sm) {
			font-size: 1em;
			line-height: 3em;
		}

		&:hover {
			color: $gray-light;
		}

		.about &, &.active {
			color: $gray-light;

			&:hover {
				color: #fff;
			}
		}
	}
}

@import 'why-worldstrides';
@import 'about';
@import 'contact';
@import 'press';
@import 'careers';
@import 'offices';
@import 'resources';
@import 'home';
@import 'error-404';
@import 'register-payment';
@import 'explore';
@import 'search';
@import 'sitemap';

