
/* pages/_register-payment.scss
 * ======================================================== */

.register-and-payment {
	visibility: visible;

	.register-payment-section {
		padding: 0;
		background-color: $gray_base;

		@include susy-media($screen-sm) {
			display: flex;
		}
	}

	.section-content {
		color: #FFF;
		margin-top: 1em;
		@include susy-media($screen-sm) {
			@include span(7);
			padding-right: 0;
			margin-top: 2%;
			padding-right: 5%;
			padding-top: 35px;
		}
		@include susy-media($screen-lg) {
			@include span(8);
		}
	}

	.fields {
		li {
			margin-bottom: 1em;
		}

	}

	.ws-form {

		.btn {
			display: block;
		    margin: 1em 0 0;
		    width: 100%;
		    @include susy-media($screen-xs) {
		    	display: inline-block;
		    	margin: 0;
		    	width: auto;
		    }
		}
	}

	.contact-sidebar {
		padding-left: 5vw;
		padding-right: 5vw;
		@include susy-media($screen-sm) {
			@include span(5 last);
		}
		@include susy-media($screen-lg) {
			@include span(4 last);
		}
	}

	#payment-trip-id-li {
		max-width: 300px;
	}

}

.payment-page-div {
    
    max-width: 395px;
    position: relative;
    
    @media screen and (max-width: 360px) {
        ul {
            position: absolute;
            top: 185px;
            margin-left: 25px;
            margin-right: 25px;

            li {
                font-size: 9pt;
            }
        }

        a.btn {
            position: absolute;
            bottom: 30px;
            left: 25px;
        }
    }

    @media screen and (min-width: 361px) and (max-width: $screen-sm) {
        ul {
            position: absolute;
            top: 250px;
            margin-left: 50px;
            margin-right: 50px;

            li {
                font-size: 12pt;
            }
        }

        a.btn {
            position: absolute;
            bottom: 30px;
            left: 75px;
        }
    }	

    @media screen and (min-width: $screen-sm) {
        ul {
            position: absolute;
            top: 250px;
            margin-left: 50px;
            margin-right: 50px;

            li {
                font-size: 10pt;
            }
        }

        a.btn {
            position: absolute;
            bottom: 30px;
            left: 75px;
        }
    }

	@media screen and (min-width: $screen-md) {
        ul {
            position: absolute;
            top: 200px;
            margin-left: 25px;
            margin-right: 25px;

            li {
                font-size: 10pt;
            }
        }

        a.btn {
            position: absolute;
            bottom: 10px;
            left: 50px;
        }
	}
	@media screen and (min-width: $screen-lg) {
        ul {
            position: absolute;
            top: 250px;
            margin-left: 30px;
            margin-right: 30px;

            li {
                font-size: 12pt;
            }
        }

        a.btn {
            position: absolute;
            bottom: 30px;
            left: 75px;
        } 
	}
}

.payment-page-div {

    


}