
/* pages/_register-payment.scss
 * ======================================================== */

.register-and-payment {
	visibility: visible;

	.ws-container {
		padding: 0;
		background-color: $gray_base;

		@include susy-media($screen-sm) {
			display: flex;
			padding: 0;
		}
	}

	.section-content {
		color: #FFF;

		@include susy-media($screen-sm) {
			@include span(9);
			padding-right: 0;
		}
	}

	.fields {
		@include susy-media($screen-md) {
			@include span(5 of 9);
		}

		li {
			margin-bottom: 1em;
		}

	}

	.ws-form {
		margin-top: 1em;
		@include susy-media($screen-sm) {
			margin-top: 2em;
		}

		footer {
			clear: both
		}

		.btn {
			display: block;
		    margin: 1em 0 0;
		    width: 100%;
		    @include susy-media($screen-xs) {
		    	display: inline-block;
		    	margin: 0;
		    	width: auto;
		    }
		}
	}

	.contact-sidebar {
		@include susy-media($screen-md) {
			@include span(3 last);
		}	
	}

}