
/* pages/_register-payment.scss
 * ======================================================== */

.register-and-payment {
	visibility: visible;

	.ws-container {
		padding: 0;
		background-color: $gray_base;

		@include susy-media($screen-sm) {
			display: flex;
			padding: 0;
		}
	}

	.section-content {
		color: #FFF;
		margin-top: 1em;
		@include susy-media($screen-sm) {
			@include span(8);
			padding-right: 0;
			margin-top: 2%;
			padding-right: 30%;
			padding-top: 35px;
		}
		@include susy-media($screen-lg) {
			@include span(9);
		}
	}

	.fields {
		li {
			margin-bottom: 1em;
		}

	}

	.ws-form {

		.btn {
			display: block;
		    margin: 1em 0 0;
		    width: 100%;
		    @include susy-media($screen-xs) {
		    	display: inline-block;
		    	margin: 0;
		    	width: auto;
		    }
		}
	}

	.contact-sidebar {
		@include susy-media($screen-sm) {
			@include span(4 last);
		}
		@include susy-media($screen-lg) {
			@include span(3 last);
		}
	}

}