.resources-header {
	background-image: url(../images/src/patterns/ws_w_pattern8.gif);
	background-size: 63px 54px;

	@media
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (   min--moz-device-pixel-ratio: 2),
	only screen and (     -o-min-device-pixel-ratio: 2/1),
	only screen and (        min-device-pixel-ratio: 2),
	only screen and (                min-resolution: 192dpi),
	only screen and (                min-resolution: 2dppx) { 
		background-image: url(../images/src/patterns/ws_w_pattern8@2x.gif);
	}

	.section-header-content {
		color: #fff;

		nav, h1 {
			color: #fff;
		}

		h1 {
			line-height: 1;
			margin-top: 12px;
		}

		a {
			color: $blue_lighter;

			&:hover {
				color: #fff;
			}
		}
	}
}

.section-resource-questions {
	margin-bottom: 3em;

	h2 {
		@include container();
		margin-bottom: 38px;
	}

	> p {
		@include container();
		margin-top: 2em;
	}
}

.resource-question {
	margin-bottom: 0;
	color: #fff;
	@include container();

	&:last-of-type .entry-header a {
		border-bottom: 1px solid $color_border;
	}

	&.open {
		background: $gray_base;

		.entry-header a {
			color: #fff;
			border: none;

			&:hover {
				color: $gray_light;
			}
		}

		& + .resource-question .entry-header a {
			border-top: none;
		}
	}

	.entry-header {
		margin-bottom: 0;

		a {
			padding: 15px 0;
			display: block;
			border-top: 1px solid $color_border;
		}
	}

	.entry-content {
		display: none;

		p {
			font-weight: 200;
		}
	}
}

/*
// Resource Center Homepage
*/

.resource-target-group {
	@include clearfix;
	position: relative;
}

.resource-target {
	@include span(full);

	@include susy-media($screen-sm) {
		@include span(33.33333%);
		margin-right: 0;
	}
}

.resource-target-title {
	display: block;
	position: relative;

	img {
		width: 100%;
	}

	h2 {
		color: #fff;
		position: absolute;
		bottom: 10px;
		left: 20px;
	}
}

.resource-target-list-wrap {
	@include span(full);
	color: #fff;
	background-color: $gray_base;
	padding: 2% 2% 3%;

	@include susy-media($screen-sm) {
		@include container();
		position: absolute;
		left: 0;
		width: 100%;
		z-index: 1;
		height: 0;
		padding: 0;
		overflow: hidden;

		// .resource-target:first-of-type & {
		// 	height: auto;
		// 	padding: 2% 2% 3%;
		// }

		.resource-target.active & {
			height: auto;
			padding: 2% 2% 3%;
		}

	}

	p.h1 {
		display: none;
		margin: 0;

		@include susy-media($screen-sm) {
			@include span(4);
			display: block;
		}
	}

	a {
		color: #fff;

		&:hover {
			color: $gray_light;
		}
	}

	.resource-target-list {
		@include span(full);

		@include susy-media($screen-sm) {
			@include span(4 last);
		}

		p.h6 {
			text-transform: uppercase;
			font-size: em(12);
			color: $blue_light;
			margin: 0;
			line-height: 1.75;
			margin-bottom: 1em;
		}

		ul {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				border-bottom: 1px solid $color_border;

				&:first-of-type {
					border-top: 1px solid $color_border;
				}
			}

			a {
				line-height: 3;
				display: block;
			}
		}
	}
}

.resource-target-bg {
	background: $gray_base;
	display: none;

	@include susy-media($screen-sm) {
		min-height: 355px;
		display: block;
	}
}

/***********************************
// Resource Taxonomy
***********************************/

.related-terms-list {
	h6 {
		text-transform: uppercase;
		font-size: em(12);
		color: $blue_light;
		margin: 0;
		line-height: 1.75;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		a {
			line-height: 2;
		}
	}
}

/***********************************
// Single Resource
***********************************/

.resource-content {
	@include span(full);
	margin-bottom: 2em;

	@include susy-media($screen-xs) {
		@include span(7);
	}

	p {
		max-width: 670px;
	}
}

.resource-related {
	@include span(full);
	margin-bottom: 2em;

	@include susy-media($screen-xs) {
		@include span(4 last);
	}
}