.resources-header {
	background-image: url(../images/src/patterns/ws_w_pattern8.gif);
	background-size: 63px 54px;

	@media
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (   min--moz-device-pixel-ratio: 2),
	only screen and (     -o-min-device-pixel-ratio: 2/1),
	only screen and (        min-device-pixel-ratio: 2),
	only screen and (                min-resolution: 192dpi),
	only screen and (                min-resolution: 2dppx) { 
		background-image: url(../images/src/patterns/ws_w_pattern8@2x.gif);
	}

	.section-header-content {
		color: #fff;

		nav, h1 {
			color: #fff;
		}

		h1 {
			line-height: 1;
			margin-top: 12px;
		}

		a {
			color: $blue_lighter;

			&:hover {
				color: #fff;
			}
		}
	}
}

.section-resource-questions {
	margin-bottom: 3em;

	h2 {
		@include container();
		margin-bottom: 38px;
	}
}

.resource-question {
	margin-bottom: 0;
	color: #fff;
	@include container();

	&:last-of-type .entry-header a {
		border-bottom: 1px solid $color_border;
	}

	&.open {
		background: $gray_base;

		.entry-header a {
			color: #fff;
			border: none;
		}

		& + .resource-question .entry-header a {
			border-top: none;
		}
	}

	.entry-header {
		margin-bottom: 0;

		a {
			padding: 15px 0;
			display: block;
			border-top: 1px solid $color_border;
		}
	}

	.entry-content {
		display: none;
	}
}

/***********************************\
// Resource Center Homepage
\***********************************/

.resource-target {
	@include span(full);

	@include susy-media($screen-xs) {
		@include gallery(4 wide);
		margin-right: 0;
	}
}

.resource-target-title {
	display: block;
	position: relative;

	img {
		width: 100%;
	}

	h2 {
		color: #fff;
		position: absolute;
		bottom: 10px;
		left: 20px;
	}
}

/***********************************\
// Single Resource
\***********************************/

.resource-content {
	@include span(full);
	margin-bottom: 2em;

	@include susy-media($screen-xs) {
		@include span(7);
	}

	p {
		max-width: 670px;
	}
}

.resource-related {
	@include span(full);
	margin-bottom: 2em;

	@include susy-media($screen-xs) {
		@include span(4 last);
	}

	h6 {
		text-transform: uppercase;
		font-size: em(12);
		color: $blue_light;
		margin: 0;
		line-height: 1.75;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		a {
			line-height: 2;
		}
	}
}