.search {

	.entry-meta {
		time {
			margin-right: 10px;
		}

		.post-categories {
			list-style: none;
			margin: 0;
			padding: 0;
			display: inline-block;

			li {
				display: inline-block;
				margin-right: 10px;

				&:last-child {
					margin-right: 0;
				}
			}

			a {
				color: $color_link_tag;

				&:hover {
					color: $color_link_tag_hover;
				}
			}
		}
	}

	.has-post-thumbnail .entry-content {
		max-width: none;
	}
}

.search-header {
	background: $gray_lighter;
	padding: 25px 5vw;
	margin-bottom: 0;
}

.search-results-form {
	position: relative;
	margin-bottom: 0;
	text-shadow: none;

	i {
		position: absolute;
		top: 15px;
		left: 12px;
	}

	input[type="search"] {
		width: 100%;
		border: none;
		outline: none;
		padding: 10px 40px;
	}
}

.search-options {
	position: absolute;
	top: 11px;
	right: 12px;

	span, input {
		float: right;
		color: $color_link;
		margin-left: 10px;
		font-weight: lighter;
		display: inline-block;
		vertical-align: middle;
	}
}

.search-wrap {
	@include container();
	padding: 0;
	overflow: hidden;

	@include susy-media($screen-sm) {
		display: flex;
		padding: 0;
	}

	> section {
		@include span(full);
		margin-top: 0;
		padding-left: 5vw;

		@include susy-media($screen-sm) {
			@include span(8 wide);
			padding-right: 0;
			margin-right: 0;
		}
	}
}

.search-results-title {
	margin-bottom: 2em;
}

.search-query {
	color: $color_link_tag;
	text-transform: capitalize;
}

@media screen and (min-width: 768px) {
	
	#feature-modal .modal-dialog  {width:900px !important;height:400px !important;}

}