.section-nav {
	display: none;

	@include susy-media($screen-xs) {
		background: $gray-base;
		@include container();

		.about & {
			background: $gray_dark;
		}
	}
}

.section-menu {
	list-style: none;
	padding: 0;
	margin: 0;

	li {
		display: inline-block;
		margin-right: 20px;
	}

	a {
		color: #fff;
		line-height: 3;

		&:hover {
			color: $gray-light;
		}
	}
}

.section-content {
	@include clearfix;
	@include container();
	margin-top: gutter();
	margin-bottom: gutter();

	& > div {
		@include full;
		margin-bottom: gutter();

		@include susy-media($screen-xs) {
			@include gallery(6);
		}
	}
}