.ws-blocks {
	padding: 0;
}

.ws-block {
	@include susy-media($screen-sm) {
		display: flex;
	}
	@media only print {
		display: block;
	}

	h3, .h3 {
		font-weight: 700;
		@media only print {
			font-size: 16px;
		    margin: 1em 0;
		}
	}
}

.ws-blocks-title {
	padding: 0 5vw;
}

.block-title {
	padding: 0 5vw;
}

.block-text {
	@include clearfix;
	background: $gray_lighter;
	padding-top: 5vh;
	padding-bottom: 10vh;
	@media only print {
		padding: 1em 0;
	}
}

// IMAGE RIGHT
.block-image-right {
	.block-image {
		@include span(full no-gutters);

		@include susy-media($screen-sm) {
			@include span(7 wide no-gutters);
			order: 2;
		}

		@media only print {
			width: 100%;
			margin: 1em 0;
			float: none;
		}
	}

	.block-text {
		@include span(full no-gutters);
		padding-left: 5vw;
		padding-right: 5vw;

		@include susy-media($screen-sm) {
			@include span(5 wide no-gutters);
			padding-left: 5vw;
			padding-right: 5vw;
			order: 1;
		}

		@media only print {
			width: 100%;
			padding: 0;
			float: none;
			margin: 1em 0;
		}
	}
}

.block-image-left {
	.block-image {
		@include span(full no-gutters);

		@include susy-media($screen-sm) {
			@include span(7 wide no-gutters);
			order: 1;
		}

		@media only print {
			width: 100%;
			margin: 1em 0;
			float: none;
		}
	}

	.block-text {
		@include span(full no-gutters);
		padding-left: 5vw;
		padding-right: 5vw;

		@include susy-media($screen-sm) {
			@include span(5 wide no-gutters);
			padding-left: 5vw;
			padding-right: 5vw;
			order: 2;
		}

		@media only print {
			width: 100%;
			padding: 0;
			float: none;
			margin: 1em 0;
		}
	}
}

.block-single-col {

	.block-text {
		padding-left: 5vw;
		padding-right: 5vw;

		@include susy-media($screen-sm) {
			@include pad(2);
			width: 100%;
		}

		@media print {
			padding: 1em 0;
		}

		iframe {
			width: 100%;
		}
	}
}

.block-two-col {

	.block-text {
		padding-left: 5vw;
		padding-right: 5vw;

		@media only print {
			padding: 1em 0;
		}
	}

	.block-text-column {
		@include susy-media($screen-sm) {
			@include gallery(6 of 12);
		}
		@media only print {
			width: 100%;
			float: none;
			clear: both !important;
			margin: 0 !important;
		}
	}
}