.ws-blocks {
	padding: 0;
}

.ws-block {
	@include susy-media($screen-sm) {
		display: flex;
	}

	h3, .h3 {
		font-weight: 700;
	}
}

.block-text {
	background: $gray_lighter;
	padding-top: 5vh;
	padding-bottom: 10vh;
}

// IMAGE RIGHT
.block-image-right {
	.block-image {
		@include span(full no-gutters);

		@include susy-media($screen-sm) {
			@include span(7 wide no-gutters);
			order: 2;
		}
	}

	.block-text {
		@include span(full no-gutters);
		padding-left: 5vw;
		padding-right: 5vw;

		@include susy-media($screen-sm) {
			@include span(5 wide no-gutters);
			padding-left: 5vw;
			padding-right: 5vw;
			order: 1;
		}
	}
}

.block-image-left {
	.block-image {
		@include span(full no-gutters);

		@include susy-media($screen-sm) {
			@include span(7 wide no-gutters);
			order: 1;
		}
	}

	.block-text {
		@include span(full no-gutters);
		padding-left: 5vw;
		padding-right: 5vw;

		@include susy-media($screen-sm) {
			@include span(5 wide no-gutters);
			padding-left: 5vw;
			padding-right: 5vw;
			order: 2;
		}
	}
}

.block-single-col {

	.block-text {
		padding-left: 5vw;
		padding-right: 5vw;

		@include susy-media($screen-sm) {
			@include pad(2);
			width: 100%;
		}

		iframe {
			width: 100%;
		}
	}
}

.block-two-col {

	.block-text {
		padding-left: 5vw;
		padding-right: 5vw;
	}

	.block-text-column {
		@include susy-media($screen-sm) {
			@include gallery(6 of 12);
		}
		@media only print {
			width: 100%;
		}
	}
}