.contact-sidebar {
	background: $blue_lighter;
	padding: gutter() 2em 3em;

	@include susy-media($screen-sm) {
		@include span(3 last);

		&.wide {
			@include span(full);
			@include container;
			@include clearfix;
			float: none;

			> div {
				@include span(4);

				&:nth-child(4) {
					@include last;
				}
			}
		}
	}
}