.cycle-slideshow {
	position: relative;
	overflow: hidden;
}

.slideshow-header {
	position: absolute;
	z-index: 200;
	margin: 0;
	top: 1em;
	left: 5vw;
	color: #fff;
	@extend %overlay-text;

	.ws-no-js & {
		position: static;
		margin: 2em 0 1em;
		color: $color_text_main;
		text-shadow: none;
	}
}

.cycle-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;
	color: #fff;
	padding: 0 5vw;
	height: 100%;
	@extend %overlay-top-bottom;
	@extend %overlay-text;

	div:first-of-type {
		padding-top: 73%;
	}

	.ws-no-js & {
		display: none;
	}
}

.cycle-pager {
	position: absolute;
	text-align: center;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2000;
	color: #fff;

	span {
		cursor: pointer;
	}

	.cycle-pager-active {
		color: $gray_light;
	}
}

.cycle-prev, .cycle-next {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 25%;
	z-index: 999;
	color: #fff;
	cursor: pointer;
	.ws-no-js & {
		display: none;
	}
}

.cycle-prev {
	&:after {
		content: "\25C0";
		position: absolute;
		top: 43%;
		left: 20px;
		font-size: em(40);
	}
}

.cycle-next {
	left: auto;
	right: 0;

	&:after {
		content: "\25B6";
		position: absolute;
		top: 43%;
		right: 20px;
		font-size: em(40);
	}
}

.slideshow-tabs {
	display: none;

	@include susy-media($screen-md) {
		display: flex;
	}

	a {
		display: inline-block;
		padding: 10px 0;
		background: $blue_light;
		color: $blue;
		font-size: em(22);
		font-weight: 700;
		flex-grow: 1;
		text-align: center;

		&:hover, &.cycle-pager-active {
			background: $blue_dark;
			color: #fff;
		}
	}

}