%overlay-top-bottom {
	background: linear-gradient( $color_overlay_dark 0%, transparent 35%, transparent 65%, $color_overlay_dark 100% ) ;
}

%overlay-bottom {
	background: linear-gradient( transparent, $color_overlay_dark );
}

%overlay-text {
	text-shadow: 5px 5px 20px rgba(0, 0, 0, $overlay_opacity), -5px -5px 20px rgba(0, 0, 0, $overlay_opacity);
}