.tile {
	position: relative;
	height: 0;
	width: 100%;
	overflow: hidden;
	padding-top: percentage(9/16);
	margin: 0;
	background-color: #f7f7f7;
	
	@include susy-media($screen-sm) {
		&.tile-third,
		&.tile-half {
			@include span(50% no-gutters);
			padding-top: 30%;
		}
	}
	@include susy-media($screen-md) {
		&.tile-third  {
			@include span(33.333% no-gutters);
			padding-top: 21%;
		}
	}

	&.has-tile-image {
		background-size: cover;
	}

	& > a {
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	
	.meta {
		position: relative;
		z-index: 1;
		
		li {
			display: inline-block;
			margin-right: 10px;
		}
		a {
			color: $blue_light;
			font-size: 0.75em;
			text-transform: uppercase;
			&:hover {
				color: $orange;
			}
		}
	}
}

.tile-content {
	position: absolute;
	top: 50%;
	left: 1em;
	margin-right: 1em;
	@media screen and ( max-width: $screen-sm ) {
		top: 45%;
	}
	@media screen and ( max-width: $screen-xs ) {
		top: 45%;
	}
	@extend %overlay-text;
	@include susy-media($screen-md) {
		left: 1.5em;
		margin-right: 1.5em;
	}
	a {
		color: #FFF;
	}
}

.smithsonian-image {
	position: absolute;
	top: 1em;
	left: 1em;
	max-width: 120px;
	@media screen and ( min-width: $screen-sm ) {
		display: block;
	}
	@media screen and ( min-width: $screen-md ) {
		left: 1.5em;
	}
	@media screen and ( min-width: $screen-lg ) {
		max-width: 150px;
	}
}
.smithsonian-image-mobile {
	display: block;
	margin: 0 0 0.5em;
	max-width: 100px; 
	@media screen and ( min-width: $screen-sm ) {
		display: none;
	}
}

.tile-title {
	color: #FFF;
	margin: 0;
	margin-bottom: 5px;
	transition: color 250ms ease;
	cursor: pointer;
	font-size: 24px;
	font-weight: 600;
	@media screen and ( max-width: $screen-lg ) {
		font-size: 1.7vw;
	}
	@media screen and ( max-width: $screen-md) {
		font-size: 2.7vw;
	}
	@media screen and ( max-width: $screen-sm ) {
		font-size: 2.7vw;
	}
	@media screen and ( max-width: $screen-xs ) {
		font-size: 4.7vw;
	}
	.tile:hover & {
		color: $orange;
	}
}

.resource > .tile-content {

	top: 35%;

	@media screen and ( max-width: $screen-sm ){
		top: 45%;
	}

}

.list-tag-no-link {
	color: #fff;
	font-size: 0.75em;
}

.tile-synopsis {
	line-height: 1.2em;
	display: none;
	color: #fff;
	@extend %overlay-text;
	@media screen and ( min-width: $screen-xs ) and ( max-width: $screen-sm ) {
		display: block;
	}
	@media screen and ( min-width: $screen-lg ) {
		display: block;
	}
}

/* Programs containers
 * -------------------------------------- */
.programs-container {
	position: relative;
	margin-bottom: 5em;
	&.count-9-plus {
		padding-top: 56.25% * 9;
		height: 0;
		@include susy-media($screen-sm) {
			padding-top: 30% * 4;
		}
		@include susy-media($screen-md) {
			padding-top: 21% * 3;
		}

		.toggle-all {
			display: block;
		}

		.programs-list {
			position: absolute;
		}
	}
	&.show-all {
		height: auto;
		padding-top: 0;
		.programs-list {
			position: relative;
		}
	}

	.toggle-all {
		display: none;
		position: absolute;
		bottom: -40px;
		text-align: center;
		width: 100%;
		cursor: pointer;
		color: $orange;
		&:hover {
			color: $color_text_main;
		}
	}
}

.programs-list {
	position: relative;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
