.tile {
	position: relative;
	height: 0;
	width: 100%;
	overflow: hidden;
	padding-top: percentage(9/16);
	margin: 0;
	
	@include susy-media($screen-sm) {
		&.tile-third,
		&.tile-half {
			@include span(50% no-gutters);
			padding-top: 30%;
		}
	}
	@include susy-media($screen-md) {
		&.tile-third  {
			@include span(33.333% no-gutters);
			padding-top: 21%;
		}
	}

	&.has-tile-image {
		background-size: cover;
	}
	
	.meta {
		li {
			display: inline-block;
			margin-right: 10px;
		}
		a {
			color: $blue_light;
			font-size: 0.75em;
			text-transform: uppercase;
			&:hover {
				color: $orange;
			}
		}
	}
}

	.tile-content {
		position: absolute;
		bottom: 1em;
		left: 1em;
		@extend %overlay-text;
		@include susy-media($screen-md) {
			bottom: 1.5em;
			left: 1.5em;
		}
		a {
			color: #FFF;
		}
		.smithsonian {
			@include smithsonian( 308px, 38px );
		}
	}

	.tile-title {
		color: #FFF;
		margin: 0;
		a {
			color: inherit;
			&:hover {
				color: $orange;
			}
		}
	}

	.list-tag-no-link {
		color: #fff;
		font-size: 0.75em;
	}
