.ws-tooltips {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	.ws-tooltip {
		z-index: 1;
	}

	.ws-tooltip-content {
		left: auto;
		right: 15px;
		@include susy-media($screen-lg) {
			left: 15px;
			right: auto;
		}
	}

	.ws-tooltip-1 {
		top: 30%;
	}

	.ws-tooltip-2 {
		top: 55%;
	}

	.ws-tooltip-3 {
		top: 80%;
	}
}