.ws-tooltips {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 50%;
	@include susy-media($screen-md) {
		display: block;
	}

	.ws-tooltip {
		position: absolute;
		z-index: 1;
		cursor: pointer;
		&:hover {
			&:before {
				background-color: $orange;
				border-color: #FFF;
			}
			.ws-tooltip-content {
				display: block;
			}
		}
		&:before {
		  content: "";
		  width: 17px;
		  height: 17px;
		  display: block;
		  background-color: rgba($gray_light, 0.7);
		  border-radius: 50%;
		  border: 2px solid rgba($gray_lighter, 0.7);
		}
	}

	.ws-tooltip-content {
		display: none;
		position: absolute;
		top: 15px;
		left: auto;
		right: 15px;
		border-radius: 5px;
		background-color: rgba($blue_dark, 0.8);
		padding: 1em;
		color: #FFF;
		width: 300px;
		@include susy-media($screen-lg) {
			left: 15px;
			right: auto;
		}
	}

	.ws-tooltip-1 {
		top: 30%;
	}

	.ws-tooltip-2 {
		top: 55%;
	}

	.ws-tooltip-3 {
		top: 80%;
	}
}