.value-prop {
	@include clearfix;
}

.value-prop-img {
	@include span(1 of 6);
	display: block;
}

.value-prop-title {
	@include span(5 of 6 last);
	font-size: em(20);
	font-weight: bold;
	margin-bottom: gutter();
}

.value-prop-desc {
	@include span(5 of 6 last);
}