// Display
// ======================================= /
.show { display: block; }
.hide { display: none; }
.inline { display: inline; }
.inline-block { display: inline-block; }

// Layout
// ======================================= /
.center-block {
  @include container;
  @include clearfix;
}

.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.clearfix {
  @include clearfix;
}

// Colors
// ======================================= /
.bg-gray-base {
	background-color: $gray_base;
	color: $gray_lighter;
}

// Style
// ======================================= /
a.no-decoration { text-decoration: none; }
