// Display
// ======================================= /
.show { display: block; }
.hide { display: none; }
.inline { display: inline; }
.inline-block { display: inline-block; }
.hide-print {
	@media print {
		display: none !important;
	}
}
.show-print {
	@media print {
		display: block !important;
	}	
}
.print-only {
	display: none;
	@media print {
		display: block !important;
	}
}
.print-page-break {
	page-break-before: always;
}

// Layout
// ======================================= /
.clearfix {
	@include clearfix;
}
.ws-container {
	@include container();
	overflow: hidden;
}
.bleed-container {
	@include susy-media($screen-sm) {
		@include bleed-x(5vw 5vw);
	}
}

// Colors
// ======================================= /
.bg-gray-base, .bg-gray-darker, .bg-gray-dark, .bg-gray { color: $gray_lighter; }
.bg-gray-base { background-color: $gray_base; }
.bg-gray-darker { background-color: $gray_darker; }
.bg-gray-dark { background-color: $gray_dark; }
.bg-gray { background-color: $gray; }
.bg-gray-light, .bg-gray-lighter { color: $gray_base; }
.bg-gray-light { background-color: $gray_light; }
.bg-gray-lighter { background-color: $gray_lighter; }

.gray-base { color: $gray_base; }
.gray-darker { color: $gray_darker; }
.gray-dark { color: $gray_dark; }
.gray { color: $gray; }
.gray-light { color: $gray_light; }
.gray-lighter { color: $gray_lighter; }

// Style
// ======================================= /
a.no-decoration { text-decoration: none; }
a.text-color-link { 
	color: $color_text_main;
	&:hover {
		color: $color_link;
	}
}
.circular { border-radius: 50%; }

// Screens
// ======================================= /
.screen {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;

	&.screen10 { background-color: rgba(0,0,0,0.1); }
	&.screen20 { background-color: rgba(0,0,0,0.2); }
	&.screen30 { background-color: rgba(0,0,0,0.3); }
	&.screen40 { background-color: rgba(0,0,0,0.4); }
	&.screen50 { background-color: rgba(0,0,0,0.5); }
	&.screen60 { background-color: rgba(0,0,0,0.6); }
	&.screen70 { background-color: rgba(0,0,0,0.7); }
	&.screen80 { background-color: rgba(0,0,0,0.8); }
	&.screen90 { background-color: rgba(0,0,0,0.9); }

	&.gradient10 { background-image: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.10) ); }
	&.gradient20 { background-image: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.20) ); }
	&.gradient30 { background-image: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.30) ); }
	&.gradient40 { background-image: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.40) ); }
	&.gradient50 { background-image: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.50) ); }
	&.gradient60 { background-image: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.60) ); }
	&.gradient70 { background-image: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.70) ); }
	&.gradient80 { background-image: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.80) ); }
	&.gradient90 { background-image: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.90) ); }
}