// Display
// ======================================= /
.show { display: block; }
.hide { display: none; }
.inline { display: inline; }
.inline-block { display: inline-block; }

// Layout
// ======================================= /
.center-block {
  @include container;
  @include clearfix;
}

.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.clearfix {
  @include clearfix;
}

// Colors
// ======================================= /
.bg-gray-base, .bg-gray-darker, .bg-gray-dark, .bg-gray { color: $gray_lighter; }
.bg-gray-base { background-color: $gray_base; }
.bg-gray-darker { background-color: $gray_darker; }
.bg-gray-dark { background-color: $gray_dark; }
.bg-gray { background-color: $gray; }
.bg-gray-light, .bg-gray-lighter { color: $gray_base; }
.bg-gray-light { background-color: $gray_light; }
.bg-gray-lighter { background-color: $gray_lighter; }



// Style
// ======================================= /
a.no-decoration { text-decoration: none; }
