
// Layout
// ============================================ /

// Container
@mixin container($maxWidth: $size_container_width) {
	display: block;
	max-width: $maxWidth;
	margin-left: auto;
	margin-right: auto;
	padding: 0 $size_container_padding;
}

// Clearfix
@mixin clearfix {
	&:before,
	&:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
}


// Images and Sprites
// ============================================ /
@mixin logo($width: 216px, $height: 46px) {
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	background-size: $width $height;

	@media
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (   min--moz-device-pixel-ratio: 2),
	only screen and (     -o-min-device-pixel-ratio: 2/1),
	only screen and (        min-device-pixel-ratio: 2),
	only screen and (                min-resolution: 192dpi),
	only screen and (                min-resolution: 2dppx) { 
		
		background-image: url(../images/logo@2x.png);
		
	}
}
@mixin monogram($width: 64px, $height: 64px) {
	background-image: url(../images/favicons/mstile-70x70.png);
	background-repeat: no-repeat;
	background-size: $width $height;
}

@mixin retina($url) {
	
	@media
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (   min--moz-device-pixel-ratio: 2),
	only screen and (     -o-min-device-pixel-ratio: 2/1),
	only screen and (        min-device-pixel-ratio: 2),
	only screen and (                min-resolution: 192dpi),
	only screen and (                min-resolution: 2dppx) { 
		
		background-image: url($url);
	
	}
}


// Typography
// ============================================ /

// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 18) + px;
	//font-size: $sizeValue + rem;
}

@mixin h1 {
	font-size: $h1_size;
	line-height: $h1_line_height;
}

@mixin h2 {
	font-size: $h2_size;
	line-height: $h2_line_height;
}

@mixin h3 {
	font-size: $h3_size;
	line-height: $h3_line_height;
}

@mixin h4 {
	font-size: $h4_size;
	line-height: $h4_line_height;
}

@mixin h5 {
	font-size: $h5_size;
	line-height: $h5_line_height;
}

@mixin h6 {
	font-size: $h6_size;
	line-height: $h6_line_height;
}
