// Structure
// ============================================ /
$size_container_width: 1500px;

$size_container_padding: 5%;

$size_site_main: 70%;
$size_site_sidebar: 30%;

$screen-xs: 600px;
$screen-sm: 768px;
$screen-md: 960px;
$screen-lg: 1200px;

$susy: (
    columns: 12,
    gutters: 3/10,
    container: $size_container_width,
    global-box-sizing: border-box
    );

@include border-box-sizing;

// Colors
// ============================================ /
$navy: #323c53;
$orange: #fb901d;
$blue_light: #bde5ff;
$blue: #4fa9e5;
$blue_dark: #3076bc;

$gray_base: $navy;
$gray_darker: tint($gray_base, 8%);
$gray_dark: tint($gray_base, 20%);
$gray: tint($gray_base, 33.5%);
$gray_light: tint($gray_base, 63%);
$gray_lighter: tint($gray_base, 93.5%);

$color_text_main: #1a1a1a;
$color_text_heading: #1a1a1a;
$color_text_input: #1a1a1a;
$color_text_input_hover: #1a1a1a;
$color_text_input_focus: #1a1a1a;
$color_text_footer: #666666;
$color_text_footer_dark: #191919;

$color_link: #fb901d;
$color_link_visited: tint($color_link, 10%);
$color_link_hover: darken($color_link, 10%);

$color_code: #555;

$color_blockquote: #1a1a1a;

$color_background_body: #fff;
$color_background_hr: #ccc;
$color_background_button: #fb901d;
$color_background_pre: #eee;

$color_border_button: #fb901d #fb901d #fb901d;
$color_border_button_hover: #fb901d #fb901d #fb901d;
$color_border_button_focus: #fb901d #fb901d #fb901d;

$color_background_selection: #bde5ff;

$color_border_input: #ccc;
$color_border_input_hover: #ccc;
$color_border_input_focus: #ccc;

// Typography
// ============================================ /
$font_main: "Corpid C1s SCd", "Helvetica", "Arial", sans-serif;
$font_heading: "Corpid C1s SCd", "Helvetica", "Arial", sans-serif;
$font_code: "Menlo", monospace;
$font_pre: "Menlo", monospace;
$font_line_height_body: 1.5;
$font_line_height_pre: 1.6;

$h1_size: em(75);  $h1_line_height: 1.1em;
$h2_size: em(30);  $h2_line_height: 1.2em;
$h3_size: em(26);  $h3_line_height: 1.3em;
$h4_size: em(22);  $h4_line_height: 1.4em;
$h5_size: 1em;  $h5_line_height: 1.4em;
$h6_size: 1em;  $h6_line_height: 1.4em;

$color_text_muted: #aaa;


// Tables
// ============================================ /
$table_bg: transparent;
$table-bg-accent: #fafafa;
$table-bg-hover: #eee;
$table_bg_nested: transparent;
$table-cell-padding: 5px;
$line-height-base: 1em;
$table-border-color: #DDD;
$table-condensed-cell-padding: 5px;
