// Structure
// ============================================ /
$size_container_width: 1500px;

$size_container_padding: 5vw;

$size_site_main: 70%;
$size_site_sidebar: 30%;

$screen-xs: 600px;
$screen-sm: 768px;
$screen-md: 960px;
$screen-lg: 1200px;

$susy: (
    columns: 12,
    gutters: 3/10,
    container: $size_container_width,
    global-box-sizing: border-box
    );

@include border-box-sizing;

// Colors
// ============================================ /
$navy: #323c53;
$orange: #fb901d;
$blue_lighter: #E1EBF2;
$blue_light: #bde5ff;
$blue_med: #badeff;
$blue: #4fa9e5;
$blue_dark: #3076bc;

$gray_base: $navy;
$gray_darker: tint($gray_base, 8%);
$gray_dark: tint($gray_base, 20%);
$gray: tint($gray_base, 33.5%);
$gray_light: tint($gray_base, 63%);
$gray_lighter: tint($gray_base, 93.5%);

$color_text_main: #1a1a1a;
$color_text_heading: #1a1a1a;
$color_text_input: #1a1a1a;
$color_text_input_hover: #1a1a1a;
$color_text_input_focus: #1a1a1a;
$color_text_footer_light: #999999;
$color_text_footer: #666666;
$color_text_footer_dark: #191919;

$color_link: #fb901d;
$color_link_visited: tint($color_link, 10%);
$color_link_hover: darken($color_link, 10%);
$color_link_tag: $blue;
$color_link_tag_hover: $blue_dark;

$color_code: #555;

$color_blockquote: #1a1a1a;

$color_background_body: #fff;
$color_background_hr: #ccc;
$color_background_button: #fb901d;
$color_background_pre: #eee;
$color_background_header: $blue_med;

$color_border: #989898;

$color_border_button: #fb901d #fb901d #fb901d;
$color_border_button_hover: #fb901d #fb901d #fb901d;
$color_border_button_focus: #fb901d #fb901d #fb901d;

$color_background_selection: #bde5ff;

$color_border_input: #ccc;
$color_border_input_hover: #ccc;
$color_border_input_focus: #ccc;

$color_overlay_lt: rgba( 0, 0, 0, 0.2 );
$color_overlay_med: rbga( 0, 0, 0, 0.35 );
$color_overlay_dark: rgba( 0, 0, 0, 0.45 );
$color_overlay: rgba( 0, 0, 0, 0.28 );

// Typography
// ============================================ /
// @include font-face( "Corpid C1s SCd", "../fonts/corpid/CorpidC1sSCd-Regular", $file-formats: otf);
// @include font-face( "Corpid C1s SCd", "../fonts/corpid/CorpidC1sSCd-Bold", bold, $file-formats: otf);
// @include font-face( "Corpid C1s SCd", "../fonts/corpid/CorpidC1sSCd-Light", light, $file-formats: otf);

@include font-face( "corpid", "../fonts/corpid/CorpidC1SCd_700_Bold/CorpidC1SCd_700_", bold, $file_formats: eot otf svg woff);
@include font-face( "corpid", "../fonts/corpid/CorpidC1SCd_800_Heavy/CorpidC1SCd_800_", bolder, $file_formats: eot otf svg woff);
@include font-face( "corpid", "../fonts/corpid/CorpidC1SCd_500i_RegularItalic/CorpidC1SCd_500i", normal, italic, $file_formats: eot svg woff);
@include font-face( "corpid", "../fonts/corpid/CorpidC1SCd_300_Light/CorpidC1SCd_300_", normal, normal, $file_formats: eot otf svg woff);

@include font-face( "test", "../fonts/test/2E5288_2_0");

$font_main: "corpid", "Helvetica", "Arial", sans-serif;
$font_heading: "corpid", "Helvetica", "Arial", sans-serif;
$font_code: "Menlo", monospace;
$font_pre: "Menlo", monospace;
$font_line_height_body: 1.5;
$font_line_height_pre: 1.6;

$h1_size: em(75);  $h1_line_height: 1.1em;
$h2_size: em(30);  $h2_line_height: 1.2em;
$h3_size: em(26);  $h3_line_height: 1.3em;
$h4_size: em(22);  $h4_line_height: 1.4em;
$h5_size: 1em;  $h5_line_height: 1.4em;
$h6_size: 1em;  $h6_line_height: 1.4em;

$color_text_muted: #aaa;


// Tables
// ============================================ /
$table_bg: transparent;
$table-bg-accent: #fafafa;
$table-bg-hover: #eee;
$table_bg_nested: transparent;
$table-cell-padding: 5px;
$line-height-base: 1em;
$table-border-color: #DDD;
$table-condensed-cell-padding: 5px;
